@model WebApplication.Models.RightTreeViewModel;
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Privacy Policy";
}
<script>
    function selectManufacturer(carManufactureName, kioskId, topcategoryid) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("SelectManufactureAndModel")',
            data: { carmanufacture: carManufactureName, topcategoryid: topcategoryid },
            success: function (data) {
                if (carManufactureName != "" && carManufactureName != null) {
                    BreadCrumbsHistory(carManufactureName, null, null, null, null, null, null, null, null, kioskId, null, null, topcategoryid);
                }

                $('#divCarManufactures').empty();
                $('#divCarManufactures').append(data);
                if (carManufactureName != "" && carManufactureName != null) {
                    window.history.replaceState(null, null, ("/topcategoryid/" + topcategoryid + "/" + carManufactureName.replaceAll(" ", "-")).toLowerCase());
                }
                else {
                    $('#divBreadcrumbs').hide();
                    $('#divSearchByPartNumber').show();
                    $('#divSelectTopCategory').show();
                    $('div[id*="divTopCategory_"]').removeClass("selected");
                    $('#divTopCategory_620').addClass("selected");
                }
                document.title = carManufactureName;
            }
            @*error: function (jqXHR, textStatus, errorThrown) {
                window.location = '@Url.Action("Error", "Home")';
            }*@
        });
        return false;
        }
</script>
@if (@Model.ManufacturerSelected == null)
{
    <h1 class="mainBlockTitle" id="divTreeTitle" style="background: #EEEFFF;">
        <span class="notranslate">Выберите марку</span>
    </h1>
    <div class="treeMainBlock">
        @foreach (var item in Model.ManufacturerList)
        {
            <div style="display:inline-block;vertical-align:middle;">
                @*<a href="/topcategory/@Model.TopCategoryId/@item.Name.Replace(" ", "-")">*@
                    <div class="parentDivManufacturer" onclick="selectManufacturer('@item.Name', '@Model.kioskId', '@Model.TopCategoryId')">                        
                        <img src="@String.Format("/images/Catalog/Model_Logo/{0}.webp", item.Name)" alt="@item.Name" class="manufactureImage" />
                    </div>
                    <div class="manufactureTextModels"><span class="notranslate">@item.Name</span></div>
                @*</a>*@
            </div>
        }
    </div>
}
@if (@Model.ManufacturerSelected != null)
{
    <div class="mainBlockTitle" id="divTreeTitle" style="background: #EEEFFF;">
        <div onclick="back('@Model.TopCategoryId')" class="btnBackModelPage">
            <span>Назад</span>
        </div>
        <div style="display:inline-block;"><span class="notranslate">Выберите модель</span></div>
    </div>
    <div style="padding: 10px 0px 10px 20px;">
        @foreach (var item in Model.ModelsList)
        {
            <div style="display:inline-block;vertical-align:middle;">
                <a href="/topcategory/@Model.TopCategoryId/@Model.ManufacturerSelected.Replace(" ", "-")/@item.ToString().Replace(" ", "-")">
                    <div class="parentDiv" style="display:grid;">
                        @*onclick="selectCarModel('@Model.ManufacturerSelected', '@item')"*@
                    <div class="divCarModelsBlock">
                        <img src="@String.Format("/images/Catalog/CarModel/{0}/{1}.png", Model.ManufacturerSelected, item)" class="modelImage" />
                    </div><div class="manufactureText">
                        <span class="notranslate">@item</span>
                    </div>
                </div>
            </a>
        </div>
    }
    </div>
}