@model WebApplication.Models.RightTreeViewModel;
@{
    Layout = null;
}

<div class="mainBlockTitle" id="divTreeTitle" style="background: #EEEFFF;">
    <div onclick="back('@Model.TopCategoryId')" class="btnBackModelPage">
        <span>Назад</span>
    </div>
    <div style="display:inline-block;">
        @if (!Model.IsModificationList)
        {
        <span>Выберите модель автомобиля</span>}
        else
        {
        <span>Выберите модификацию автомобиля</span>
        }
    </div>
</div>
<div style="padding: 10px 0px 10px 20px;">
    @foreach (var item in Model.ModelsList)
    {
    <div style="display:inline-block;vertical-align:middle;">
        @if (!Model.IsModificationList)
        {
            @if (item.Children == null)
                {
                    <div class="parentDiv" style="display:grid;" onclick="selectCarModel('@Model.ManufacturerSelected', '@item.Name', '@Model.kioskId')">
                        <div class="divCarModelsBlock">
                            <img src="@String.Format("/images/Catalog/CarModel/{0}/{1}.png", Model.ManufacturerSelected, @item.Name)" class="modelImage" />
                        </div>
                        <div class="manufactureText">
                            <span>@item.Name</span>
                        </div>
                    </div>
                }
            else
            {
                <div class="parentDiv" style="display:grid;" onclick="selectCarModifications('@Model.ManufacturerSelected', '@item.Name', '@Model.kioskId')">
                    <div class="divCarModelsBlock">
                        <img src="@String.Format("/images/Catalog/CarModel/{0}/{1}.png", Model.ManufacturerSelected, @item.Name)" class="modelImage" />
                    </div>
                    <div class="manufactureText">
                        <span>@item.Name</span>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="parentDiv" style="display:grid;" onclick="selectCarModel('@Model.ManufacturerSelected', '@Model.ModelSelected', '@item.Name', '@Model.kioskId')">
                <div class="divCarModelsBlock">
                    <img src='@item.Path' class="modelImage" />
                </div>
                <div class="manufactureText">
                    <span>@item.DisplayName</span>
                </div>
            </div>
        }
    </div>
    }
</div>