@model WebApplication.Models.RightTreeViewModel;
@{
    Layout = null;
}
@if (@Model.ManufacturerSelected == null)
{
    <div class="mainBlockTitle" id="divTreeTitle" style="background: #EEEFFF;">
        <div>Выберите марку</div>
    </div>
    <div class="treeMainBlock">
        @foreach (var item in Model.ManufacturerList)
        {
            <div style="display:inline-block;vertical-align:middle;">
                <div class="parentDivManufacturer" onclick="selectManufacturer('@item.Name', '@Model.kioskId')">
                    <img src="@String.Format("/images/Catalog/Model_Logo/{0}.webp", item.Name)" alt="@item.Name" class="manufactureImage" />
                </div>
                <div class="manufactureTextModels">@item.Name</div>
            </div>
        }
    </div>
}
@if (@Model.ManufacturerSelected != null)
{
    <div class="mainBlockTitle" id="divTreeTitle" style="background: #EEEFFF;">
        <div onclick="back('@Model.TopCategoryId')" class="btnBackModelPage">
            <span>Назад</span>
        </div>
        <div style="display:inline-block;">Выберите модель</div>
    </div>
    <div style="padding: 10px 0px 10px 20px;">
        @foreach (var item in Model.ModelsList)
        {
            <div style="display:inline-block;vertical-align:middle;">
                <div class="parentDiv" style="display:grid;" onclick="selectCarModel('@Model.ManufacturerSelected', '@item')">
                    <div class="divCarModelsBlock">
                        <img src="@String.Format("/images/Catalog/CarModel/{0}/{1}.png", Model.ManufacturerSelected, item)" class="modelImage" />
                    </div><div class="manufactureText">
                        <span>@item</span>
                    </div>
                </div>
            </div>
        }
    </div>
}