@model WebApplication.Models.RightTreeViewModel;
@{
    Layout = null;
}
@if (@Model.ManufacturerSelected == null)
{
    <div class="mainBlockTitle" id="divTreeTitle" style="background: #EEEFFF;">
        <div>Виберіть марку автомобіля</div>
    </div>
    <div style="padding: 10px 0px 10px 20px;">
        @foreach (var item in Model.ManufacturerList)
        {
            <div style="display:inline-block;vertical-align:middle;">
                <div class="parentDivManufacturer" onclick="selectManufacturer('@item.Name')">
                    <img src="@String.Format("/images/Catalog/Model_Logo/{0}.png", item.Name)" class="manufactureImage" />
                </div>
            </div>
        }
    </div>
}
@if (@Model.ManufacturerSelected != null)
{
    <div class="mainBlockTitle" id="divTreeTitle" style="background: #EEEFFF;">
        <div onclick="back()" style="color: white; padding: 0px 10px; font-weight: normal; display: inline-block; border-radius: 10px; font-size: 23px; float: left; text-transform: capitalize; background: #F97008;">
            <span>Назад</span>
        </div>
        <div style="display:inline-block;">Виберіть модель автомобіля</div>
    </div>
    <div style="padding: 10px 0px 10px 20px;">
        @foreach (var item in Model.ModelsList)
        {
            <div style="display:inline-block;vertical-align:middle;">
                <div class="parentDiv" style="display:grid;" onclick="selectCarModel('@Model.ManufacturerSelected', '@item')">
                    <div style="min-width:155px;min-height:115px;text-align:center;">
                        <img src="@String.Format("/images/Catalog/CarModel/{0}/{1}.png", Model.ManufacturerSelected, item)" class="modelImage" />
                    </div><div class="manufactureText">
                        <span>@item</span>
                    </div>
                </div>
            </div>
        }
    </div>
}