@model WebApplication.Models.RightTreeViewModel;
@{
    Layout = null;
}
<div>
    <meta name="description" content="@Model.ModelDescription" />
</div>
<div class="mainBlockTitle" id="divTreeTitle" style="background: #EEEFFF;">
    <div onclick="back('@Model.TopCategoryId')" class="btnBackModelPage">
        <span>Назад</span>
    </div>
    <div style="display:inline-block;">
        @if (!Model.IsModificationList)
        {
            <h1 class="controlHeader"><span class="notranslate">Купити запчастини @Model.ManufacturerSelected @Model.ModelSelected @Model.ModificationSelected</span></h1>}
        else
        {
            <h1 class="controlHeader"><span class="notranslate">Купити запчастини @Model.ManufacturerSelected @Model.ModelSelected @Model.ModificationSelected</span></h1>
        }
    </div>
</div>
<div style="padding: 10px 10px 10px 10px;text-align:center;">
    @foreach (var item in Model.ModelsList)
    {
        <div style="display:inline-block;vertical-align:middle;">
            @if (!Model.IsModificationList)
            {
                @if (item.Children == null)
                {
                    @*<a href="/topcategory/@Model.TopCategoryId/@Model.ManufacturerSelected.Replace(" ", "-")/@item.Name.Replace(" ", "-")">*@
                        <div class="parentDiv" style="display:grid;" onclick="selectCarModel('@Model.ManufacturerSelected', '@item.Name', '', '@Model.kioskId', '@Model.TopCategoryId')">
                            <div class="divCarModelsBlock">
                                <img src="@String.Format("/images/Catalog/CarModel/{0}/{1}.png", Model.ManufacturerSelected, @item.Name)" class="modelImage" />
                            </div>
                            <div class="manufactureText">
                                <span class="notranslate">@item.Name</span>
                            </div>
                        </div>
                    @*</a>*@
                }
                else
                {
                    @*<a href="/topcategory/@Model.TopCategoryId/@Model.ManufacturerSelected.Replace(" ", "-")/@item.Name.Replace(" ", "-")">*@
                        <div class="parentDiv" style="display:grid;" onclick="selectCarModifications('@Model.ManufacturerSelected', '@item.Name', '@Model.kioskId', '@Model.TopCategoryId')">
                            <div class="divCarModelsBlock">
                                <img src="@String.Format("/images/Catalog/CarModel/{0}/{1}.png", Model.ManufacturerSelected, @item.Name)" class="modelImage" />
                            </div>
                            <div class="manufactureText">
                                <span class="notranslate">@item.Name</span>
                            </div>
                        </div>
                    @*</a>*@
                }
            }
            else
            {
                @*<a href="/topcategory/@Model.TopCategoryId/@Model.ManufacturerSelected.Replace(" ", "-")/@item.Name.Replace(" ","-")">*@
                    <div class="parentDiv" style="display:grid;" onclick="selectCarModel('@Model.ManufacturerSelected', '@Model.ModelSelected', '@item.Name', '@Model.kioskId', '@Model.TopCategoryId')">
                    <div class="divCarModelsBlock">
                        <img src="@String.Format("/images/Catalog/CarModel/{0}/{1}.png", Model.ManufacturerSelected, @item.Name)" class="modelImage" />
                    </div>
                    <div class="manufactureText">
                        <span class="notranslate">@item.DisplayName</span>
                    </div>
                </div>
            @*</a>*@
        }
        </div>
    }
</div>

<div style="padding: 30px; text-align: justify;">
    @Model.ModelDescription
</div>