@model WebApplication.Models.RightTreeViewModel;
@{
    Layout = null;
}
@using X.PagedList;
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Common
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
        $(function () {
            $('#myPager').on('click', 'a', function () {
                $.ajax({
                    url: this.href,
                    type: 'GET',
                    cache: false,
                    success: function (result) {
                        $('#divCarManufactures').empty();
                        $('#divCarManufactures').html(result);
                    }
                });
                return false;
            });
        });
        function openDetails(advertId, advertPrice) {
            window.open('/Product/Details/' + "?id=" + advertId + "&price=" + advertPrice, "_blank");
        }
    </script>
    <style>
        .zoom {
            z-index: 100;
        }

            .zoom:hover {
                z-index: 999999;
                position: relative;
                right: 80px;
                transform: scale(1.2);
            }
    </style>
</head>
<body>
    <div class="mainBlockTitle" id="divTreeTitle" style="background: #EEEFFF;">
        <div onclick="@Model.FunctionReturnFromProducts" class="btnBackModelPage">
            <span>Назад</span>
        </div>
        <div style="display:inline-block;">Cписок запчастей</div>
    </div>
    <div class="divProductHeadFilter">
        <table style="width:100%;">
            <tr>
                @if (Model.FilterName != "none" && Model.FilterName != "engineType")
                {
                <td style="vertical-align:top;width:25%;">
                    <table style="width:100%;text-align:center;">
                        @*<tr>
                                <td style="padding-bottom: 10px; text-align: center;font-weight:600;">Сторона установки</td>
                            </tr>*@
                        @if (@Model.FilterName == "placeLR")
                            {
                        <tr>
                            <td class="filterItemPlacementLR_@Model.OfferSortingPlacement" onclick="FilteredList('@Model.OfferState', '@Model.OfferSorting', '@Model.PageNumber', 'LEWY_PRAWE', '@Model.OfferSortingIsOrigin', '@Model.OfferSortingEngineType')">Левая+Правая</td>
                        </tr>
                        <tr>
                            <td class="filterItemPlacementL_@Model.OfferSortingPlacement" onclick="FilteredList('@Model.OfferState', '@Model.OfferSorting', '@Model.PageNumber', 'LEWY', '@Model.OfferSortingIsOrigin', '@Model.OfferSortingEngineType')">Левая</td>
                        </tr>
                        <tr>
                            <td class="filterItemPlacementR_@Model.OfferSortingPlacement" onclick="FilteredList('@Model.OfferState', '@Model.OfferSorting', '@Model.PageNumber', 'PRAWE', '@Model.OfferSortingIsOrigin', '@Model.OfferSortingEngineType')">Правая</td>
                        </tr>
                            }
                        @if (@Model.FilterName == "placeFB")
                            {
                        <tr>
                            <td class="filterItemPlacementF_@Model.OfferSortingPlacement" onclick="FilteredList('@Model.OfferState', '@Model.OfferSorting', '@Model.PageNumber', 'przód', '@Model.OfferSortingIsOrigin', '@Model.OfferSortingEngineType')">Передняя</td>
                        </tr>
                        <tr>
                            <td class="filterItemPlacementB_@Model.OfferSortingPlacement" onclick="FilteredList('@Model.OfferState', '@Model.OfferSorting', '@Model.PageNumber', 'tył', '@Model.OfferSortingIsOrigin', '@Model.OfferSortingEngineType')">Задняя</td>
                        </tr>
                            }
                        @if (@Model.FilterName == "placeAll")
                            {
                        <tr>
                            <td class="filterItemPlacementLF_@Model.OfferSortingPlacement" onclick="FilteredList('@Model.OfferState', '@Model.OfferSorting', '@Model.PageNumber', 'lewy_przód', '@Model.OfferSortingIsOrigin', '@Model.OfferSortingEngineType')">Левая передняя</td>
                        </tr>
                        <tr>
                            <td class="filterItemPlacementLB_@Model.OfferSortingPlacement" onclick="FilteredList('@Model.OfferState', '@Model.OfferSorting', '@Model.PageNumber', 'lewy_tył', '@Model.OfferSortingIsOrigin', '@Model.OfferSortingEngineType')">Левая задняя</td>
                        </tr>
                        <tr>
                            <td class="filterItemPlacementRF_@Model.OfferSortingPlacement" onclick="FilteredList('@Model.OfferState', '@Model.OfferSorting', '@Model.PageNumber', 'prawy_przód', '@Model.OfferSortingIsOrigin', '@Model.OfferSortingEngineType')">Правая передняя</td>
                        </tr>
                        <tr>
                            <td class="filterItemPlacementRB_@Model.OfferSortingPlacement" onclick="FilteredList('@Model.OfferState', '@Model.OfferSorting', '@Model.PageNumber', 'prawy_tył', '@Model.OfferSortingIsOrigin', '@Model.OfferSortingEngineType')">Правая задняя</td>
                        </tr>
                            }
                    </table>
                </td>
                }
                <td style="vertical-align:top;width:25%;">
                    <table style="width:100%;text-align:center;">
                        @*<tr>
                                <td style="padding-bottom: 10px; text-align: center;font-weight:600;">Состояние</td>
                            </tr>*@
                        <tr>
                            <td class="filterItemAllState_@Model.OfferState" onclick="FilteredList('All', '@Model.OfferSorting', '@Model.PageNumber', '@Model.OfferSortingPlacement', '@Model.OfferSortingIsOrigin', '@Model.OfferSortingEngineType')">Все</td>
                        </tr>
                        <tr>
                            <td class="filterItemNewState_@Model.OfferState" onclick="FilteredList('New', '@Model.OfferSorting', '@Model.PageNumber', '@Model.OfferSortingPlacement', '@Model.OfferSortingIsOrigin', '@Model.OfferSortingEngineType')">Новые</td>
                        </tr>
                        <tr>
                            <td class="filterItemUsedState_@Model.OfferState" onclick="FilteredList('Used', '@Model.OfferSorting', '@Model.PageNumber', '@Model.OfferSortingPlacement', '@Model.OfferSortingIsOrigin', '@Model.OfferSortingEngineType')">Б/у</td>
                        </tr>
                        @*<tr>
                                <td class="filterItemRecoverState_@Model.OfferState" onclick="FilteredList('Recovered', '@Model.OfferSorting', '@Model.PageNumber', '@Model.OfferSortingPlacement', '@Model.OfferSortingIsOrigin', '@Model.OfferSortingEngineType')">Восстановленные</td>
                            </tr>*@
                    </table>
                </td>
                <td style="vertical-align:top;width:25%;">
                    <table style="width:100%;text-align:center;">
                        @*<tr><td style="padding-bottom: 10px; text-align: center;font-weight:600;">Цена</td></tr>*@
                        <tr>
                            <td class="filterItemRelevanceSorting_@Model.OfferSorting" onclick="FilteredList('@Model.OfferState', 'Relevance', '@Model.PageNumber', '@Model.OfferSortingPlacement', '@Model.OfferSortingIsOrigin', '@Model.OfferSortingEngineType')">Обычная</td>
                        </tr>
                        <tr>
                            <td class="filterItemDescSorting_@Model.OfferSorting" onclick="FilteredList('@Model.OfferState', 'PriceDesc', '@Model.PageNumber', '@Model.OfferSortingPlacement', '@Model.OfferSortingIsOrigin', '@Model.OfferSortingEngineType')">Дороже</td>
                        </tr>
                        <tr>
                            <td class="filterItemAscSorting_@Model.OfferSorting" onclick="FilteredList('@Model.OfferState', 'PriceAsc', '@Model.PageNumber', '@Model.OfferSortingPlacement', '@Model.OfferSortingIsOrigin', '@Model.OfferSortingEngineType')">Дешевле</td>
                        </tr>
                    </table>
                </td>
                @if (@Model.OfferState == KioskBrains.Clients.AllegroPl.Models.OfferStateEnum.New)
                {
                <td style="vertical-align:top;width:25%;">
                    <table style="width:100%;text-align:center;">
                        @*<tr><td style="padding-bottom: 10px; text-align: center;font-weight:600;">Тип запчасти</td></tr>*@
                        <tr>
                            <td class="filterItemOrigin_@Model.OfferSortingIsOrigin" onclick="FilteredList('@Model.OfferState', '@Model.OfferSorting', '@Model.PageNumber', '@Model.OfferSortingPlacement', 'oryginał', '@Model.OfferSortingEngineType')">Оригинал</td>
                        </tr>
                        <tr>
                            <td class="filterItemFake_@Model.OfferSortingIsOrigin" onclick="FilteredList('@Model.OfferState', '@Model.OfferSorting', '@Model.PageNumber', '@Model.OfferSortingPlacement', 'zamiennik', '@Model.OfferSortingEngineType')">Заменитель</td>
                        </tr>
                        <tr><td></td></tr>
                    </table>
                </td>
                }
                @if (Model.FilterName == "engineType")
                {
                <td style="vertical-align:top;width:25%;">
                    <table style="width:100%;text-align:center;">
                        @*<tr><td style="padding-bottom:10px;text-align:center;font-weight:600;">Тип топлива</td></tr>*@
                        <tr>
                            <td class="filterItemEngineBenzyn_@Model.OfferSortingEngineType" onclick="FilteredList('@Model.OfferState', '@Model.OfferSorting', '@Model.PageNumber', '@Model.OfferSortingPlacement', '@Model.OfferSortingIsOrigin', 'benzyna')">Бензин</td>
                        </tr>
                        <tr>
                            <td class="filterItemEngineDiesel_@Model.OfferSortingEngineType" onclick="FilteredList('@Model.OfferState', '@Model.OfferSorting', '@Model.PageNumber', '@Model.OfferSortingPlacement', '@Model.OfferSortingIsOrigin', 'diesel')">Дизель</td>
                        </tr>
                        <tr>
                            <td class="filterItemEngineElektryczne_@Model.OfferSortingEngineType" onclick="FilteredList('@Model.OfferState', '@Model.OfferSorting', '@Model.PageNumber', '@Model.OfferSortingPlacement', '@Model.OfferSortingIsOrigin', 'elektryczne')">Электро</td>
                        </tr>
                    </table>
                </td>
                }
            </tr>
        </table>
    </div>


    @if (@Model.AllegroOfferList.Count() == 0)
    {
    <div style="width: 100%; font-size: 30px; text-align: center; padding: 30% 30% 0 30%; font-weight: bold; color: #504593;">
        Ничего не найдено.
        Повторите поиск с другим значением или
        попробуйте в другом разделе
    </div>
    }

    @foreach (var item in Model.AllegroOfferList)
    {
    <div class="container-fluid">
        <div class="divProductListCard">
            @*class="zoom"*@
            <div class="row">
                <div class="col-lg-3">
                    <div id="imageBlock" class="detailBlock" style="text-align:center;background:white;width:inherit;">
                        <img id="mainImageProduct" src="@item.Photos[0].Url" style="max-width:100%;max-height:160px;" />
                        <a href=@item.Photos[0].Url data-fancybox="@String.Format("gallery{0}", item.Key)" class="noneDecoration" style="color:#ff5a00;font-weight:500;">
                            <div class="enlargePhoto"> ФОТО+ (@item.Photos.Count())</div>
                        </a>
                        @foreach (var smallImage in @item.Photos)
                            {
                            if(smallImage.Url != item.Photos[0].Url ){
                        <a href="@smallImage.Url" data-fancybox="@String.Format("gallery{0}", item.SourceId)" class="noneDecoration" style="visibility:hidden;display:none;">
                            <img src="@smallImage.Url" class="smallPhotoes">
                        </a>}
                            }
                    </div>
                </div>
                <div class="col-lg-6" style="position:relative;">
                    <div style="vertical-align: top;position:absolute;" class="hide">
                        <span class="productTitle">@item.Name.Last().Value<span style="font-size:12px !important; padding:0px 5px;display:block;">( @item.SourceId )</span></span>
                    </div>
                    <div class="openProductDEtailsBtn" onclick="openDetails('@item.SourceId', '@item.Price')">Подробнее</div>
                </div>
                <div class="col-lg-3">
                    <div class="inline-blockPrice" style="border-left: 1px solid #c3c4c5;padding-left:20px;">
                        <div style="color: #ff5a00;font-weight:bold;">
                            <span class="divProductPrice" style="font-size:34px;">@item.Price</span>
                            <span class="divProductCurrency" style="font-size:18px;">@item.PriceCurrencyCode</span>
                            <span id="priceDeliveryComment" style="color:#ff5a00;font-size:16px;font-weight:700;display:block;">* всё включено в цену</span>
                            <p id="priceComment" style="color:#6c7096;font-size:14px;font-weight:normal;">доставка 2-5 дней</p>
                        </div>

                        <div onclick="goToCart('@item.SourceId', '@Model.kioskId')">
                            <button class="btnBuyList">
                                <img src="~/images/Buy.png" />
                                <span>Купить</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
    <div id="myPager" style="float:right;padding:20px;">
        @Html.PagedListPager(Model.FakeAllegroList.ToPagedList(@Model.PageNumber, 10), page => Url.Action("FilteredList", "Home", new { state = @Model.OfferState, sorting = @Model.OfferSorting, page }), new PagedListRenderOptions
    {
       LinkToFirstPageFormat = " << ",
       LinkToPreviousPageFormat = " < ",
       LinkToNextPageFormat = " > ",
       LinkToLastPageFormat = " >> ",
    })
    </div>
</body>
</html>
