@model WebApplication.Models.RightTreeViewModel;
@{
    Layout = null;
}

<div class="mainBlockTitle" id="divTreeTitle" style="background: #EEEFFF;">
    <div onclick="@Model.FunctionReturnFromProducts" style="color: white; padding: 0px 10px; font-weight: normal; display: inline-block; border-radius: 10px; font-size: 23px; float: left; text-transform: capitalize; background: #F97008;">
        <span>Назад</span>
    </div>
    <div style="display:inline-block;">Список запчастин</div>
</div>
@foreach (var item in Model.AllegroOfferList) { 
<div style="background:grey;border:3px solid white;padding:10px 0px;">
    <div>@item.Name.Last().Value</div>
    <div><span>@item.Price</span>
         <span>@item.PriceCurrencyCode</span>
         <span>@item.State</span></div>
</div>
}