@model WebApplication.Models.RightTreeViewModel;
@{
    Layout = null;
}
@using X.PagedList;
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Common
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
        $(function () {
            $('#myPager').on('click', 'a', function () {
                $.ajax({
                    url: this.href,
                    type: 'GET',
                    cache: false,
                    success: function (result) {
                        $('#divCarManufactures').empty();
                        $('#divCarManufactures').html(result);
                    }
                });
                return false;
            });
        });
    </script>
</head>
<body>
    <div class="mainBlockTitle" id="divTreeTitle" style="background: #EEEFFF;">
        <div onclick="@Model.FunctionReturnFromProducts" style="color: white; padding: 0px 10px; font-weight: normal; display: inline-block; border-radius: 10px; font-size: 23px; float: left; text-transform: capitalize; background: #ff5a00;">
            <span>Назад</span>
        </div>
        <div style="display:inline-block;">Список запчастин</div>
    </div>
    <div style="padding-top:10px;">
        <table style="width:100%;">
            <tr>
                <td style="padding: 0px 10px 0px 20px;">Стан</td>
                <td class="filterItemAllState_@Model.OfferState" onclick="FilteredList('All', '@Model.OfferSorting', '@Model.PageNumber')">Всі</td>
                <td class="filterItemNewState_@Model.OfferState" onclick="FilteredList('New', '@Model.OfferSorting', '@Model.PageNumber')">Нові</td>
                <td class="filterItemUsedState_@Model.OfferState" onclick="FilteredList('Used', '@Model.OfferSorting', '@Model.PageNumber')">Б/у</td>
                <td class="filterItemRecoverState_@Model.OfferState" onclick="FilteredList('Recovered', '@Model.OfferSorting', '@Model.PageNumber')">Відновлені</td>
                <td style="padding:0px 10px 0px 20px;">Ціна</td>
                <td class="filterItemRelevanceSorting_@Model.OfferSorting" onclick="FilteredList('@Model.OfferState', 'Relevance', '@Model.PageNumber')">Звичайна</td>
                <td class="filterItemDescSorting_@Model.OfferSorting" onclick="FilteredList('@Model.OfferState', 'PriceDesc', '@Model.PageNumber')">Дорожчі</td>
                <td class="filterItemAscSorting_@Model.OfferSorting" onclick="FilteredList('@Model.OfferState', 'PriceAsc', '@Model.PageNumber')">Дешевші</td>
            </tr>
        </table>
    </div>

    @if (@Model.AllegroOfferList.Count() == 0)
    {
    <div style="width: 100%; font-size: 30px; text-align: center; padding: 30% 30% 0 30%; font-weight: bold; color: #504593;">
        Нічого не знайдено.
        Повторіть пошук з другим значенням або
        спробуте в другому розділі
    </div>
    }
    @foreach (var item in Model.AllegroOfferList)
    {
    <div style="background: white; padding: 10px; margin: 10px 20px; border: 1px solid #c1c1c1; border-left: 4px solid blue;min-height:200px;max-height:200px;">
        <div class="row">
            <div class="col-lg-3">
                <div id="imageBlock" class="detailBlock" style="text-align:center;background:white;">
                    <a href=@item.Photos[0].Url data-fancybox="@String.Format("gallery{0}", item.Key)" class="noneDecoration">
                        <img id="mainImageProduct" src="@item.Photos[0].Url" style="max-width:100%;max-height:160px;" />                                  
                    </a>
                    <div style="display:none;">
                        @foreach (var photo in @item.Photos)
                            {
                        @if (@photo.Url != @item.Photos[0].Url)
                                {
                        <a href=@photo.Url data-fancybox="@String.Format("gallery{0}", item.Key)" class="noneDecoration">
                            <img src=@photo.Url class="smallPhotoes">
                        </a>
                                }
                            }
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div style="vertical-align: top;">
                    <span class="productTitle">@item.Name.Last().Value</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="inline-block" style="border-left: 1px solid #c3c4c5;padding-left:20px;">
                    <div style="color: #e87619;font-weight:bold;">
                        <span style="font-size:34px;">@item.Price</span>
                        <span style="font-size:18px;">@item.PriceCurrencyCode</span>
                        <span id="priceDeliveryComment" style="color:#e87619;font-size:14px;font-weight:normal;display:block;">* ціна з урахуванням доставки</span>
                        <p id="priceComment" style="color:#6c7096;font-size:14px;font-weight:normal;">доставка в Україну <br /> 2-5 днів</p>
                    </div>

                    <div onclick="goToCart('@item.SourceId')">
                        <button class="btnBuyList">
                            <img src="~/images/Buy.png" />
                            <span>Купити</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
    <div id="myPager" style="float:right;padding:20px;">
        @Html.PagedListPager(Model.FakeAllegroList.ToPagedList(@Model.PageNumber, 10), page => Url.Action("FilteredList", "Home", new { state = @Model.OfferState, sorting = @Model.OfferSorting, page }), new PagedListRenderOptions
    {
       LinkToFirstPageFormat = " << ",
       LinkToPreviousPageFormat = " < ",
       LinkToNextPageFormat = " > ",
       LinkToLastPageFormat = " >> ",
    })
    </div>
</body>
</html>
