@model WebApplication.Models.RightTreeViewModel;
@{
    Layout = null;
}
<meta name="description" content="@Model.SubChildCategoryName @Model.ManufacturerSelected @Model.ModelSelected" />
<div class="mainBlockTitle" id="divTreeTitle" style="background: #EEEFFF;">
    <div onclick="selectMainCategory('@Model.ManufacturerSelected', '@Model.ModelSelected', '@Model.MainCategoryId', '@Model.MainCategoryName', '@Model.kioskId', '@Model.TopCategoryId')" class="btnBackModelPage">
        <span>Назад</span>
    </div>
    <div style="display:inline-block;"><h1 class="controlHeader"><span class="notranslate">@Model.SubChildCategoryName @Model.ManufacturerSelected @Model.ModelSelected</span></h1></div>
</div>
<div style="padding: 10px 10px 10px 10px;text-align:center;">
    @if(@Model.ManufacturerSelected!=null){
    @foreach (var item in Model.ProductCategoryList)
    {
    <div style="display:inline-block;vertical-align:middle;">
        @*<a href="/topcategory/@Model.TopCategoryId/@Model.ManufacturerSelected.Replace(" ", "-")/@Model.ModelSelected.Replace(" ", "-")/@Model.MainCategoryId/@Model.MainCategoryName/@Model.SubCategoryId/@Model.SubCategoryName/@Model.SubChildCategoryId/@Model.SubChildCategoryName/@item.CategoryId/@item.Name.FirstOrDefault().Value.Replace(" ","-")">*@
            <div class="parentDivAutoParts" style="display:grid;" onclick="getLastAllegroData('@Model.ManufacturerSelected', '@Model.ModelSelected', '@Model.MainCategoryId', '@Model.MainCategoryName', '@Model.SubCategoryId', '@Model.SubCategoryName', '@Model.SubChildCategoryId', '@Model.SubChildCategoryName', '@item.CategoryId', '@item.Name.FirstOrDefault().Value', '@Model.kioskId', '@Model.TopCategoryId')">
                <div class="divCarModelsBlock">
                    <img src="@String.Format("/images/Catalog/AutoParts/{0}.png", item.CategoryId)" class="modelImageAutoParts" />
                </div>
                <div class="manufactureText">
                    <span class="notranslate">@item.Name.FirstOrDefault().Value</span>
                </div>
            </div>
        @*</a>*@
    </div>
    }}
    else{
    @foreach (var item in Model.ProductCategoryList)
    {
    <div style="display:inline-block;vertical-align:middle;">
        @*<a href="/topcategory/@Model.TopCategoryId/@Model.MainCategoryId/@Model.MainCategoryName/@Model.SubCategoryId/@Model.SubCategoryName/@Model.SubChildCategoryId/@Model.SubChildCategoryName/@item.CategoryId/@item.Name.FirstOrDefault().Value.Replace(" ","-")">*@
            <div class="parentDivAutoParts" style="display:grid;" onclick="getLastAllegroData('@Model.ManufacturerSelected', '@Model.ModelSelected', '@Model.MainCategoryId', '@Model.MainCategoryName', '@Model.SubCategoryId', '@Model.SubCategoryName', '@Model.SubChildCategoryId', '@Model.SubChildCategoryName', '@item.CategoryId', '@item.Name.FirstOrDefault().Value', '@Model.kioskId', '@Model.TopCategoryId')">
                <div class="divCarModelsBlock">
                    <img src="@String.Format("/images/Catalog/AutoParts/{0}.png", item.CategoryId)" class="modelImageAutoParts" />
                </div>
                <div class="manufactureText">
                    <span class="notranslate">@item.Name.FirstOrDefault().Value</span>
                </div>
            </div>
        @*</a>*@
    </div>
    }
    }
</div>