@model WebApplication.Models.RightTreeViewModel;

<div style="background:#504593;">
    <div style="color:white;text-align:center;font-size:28px;padding-top:20px;">Каталог @Model.ViewName — новые и б/у, с разборки, шрота</div>
    <div style="padding:20px;">
        @foreach (var itemManufacture in Model.ManufacturerList)
        {
            <div style="padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid white;">
                <div style="color:#ff5a00;font-size:20px;">@itemManufacture.Name</div>
                <div style="text-align:left;">
                    @foreach (var itemModels in @itemManufacture.CarModels)
                    {
                        @if (itemModels.Children == null)
                        {
                            <a href="/topcategory/customsearch/@Model.MainCategoryId/@itemManufacture.Name @itemModels.Name" class="treeModels">@itemManufacture.Name @itemModels.Name</a>
                        }
                        @if (itemModels.Children != null)
                        {
                            @foreach (var itemModification in itemModels.Children)
                            {
                                <a href="/topcategory/customsearch/@Model.MainCategoryId/@itemManufacture.Name @itemModification.Name" class="treeModific">@itemManufacture.Name @itemModification.Name</a>
                            }
                        }

                    }
                </div>
            </div>
        }
    </div>
</div>