@model WebApplication.Models.RightTreeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>

<html>
<head>
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1" />
    <style>
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            if (window.location.toString().includes("carManufactureName")) // This doesn't work, any suggestions?
            {
                var carManufactureName = getUrlParameter('carManufactureName');
                var carModel = getUrlParameter('amp;carModel');
                var mainCategoryId = getUrlParameter('amp;mainCategoryId');
                var mainCategoryName = getUrlParameter('amp;mainCategoryName');
                var subCategoryId = getUrlParameter('amp;subCategoryId');
                var subCategoryName = getUrlParameter('amp;subCategoryName');
                var subChildId = getUrlParameter('amp;subChildId');
                var subChildName = getUrlParameter('amp;subChildName');
                if (subChildId == "" && subChildName == "") {
                    selectSubMainCategory(carManufactureName, carModel, mainCategoryId, mainCategoryName, subCategoryId, subCategoryName);
                }
                else {
                    getAllegroData(carManufactureName, carModel, mainCategoryId, mainCategoryName, subCategoryId, subCategoryName, subChildId, subChildName);
                }
            }
            if (getUrlParameter('partNumber') != false) {
                $("#inputPartValue").val(getUrlParameter('partNumber'));
                submit();
            }
        });
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return typeof sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
            return false;
        };
        function submit() {
            $('#divSelectTopCategory').hide();
            $('#divCarManufactures').empty();
            $('#divCarManufactures').html('<div style="text-align: center; padding-top: 30%; display: block;"><img src="/images/load.gif" width="100px" /></div>');
        $.ajax({
            type: "GET",
            url: '@Url.Action("PartNumberInput", "Home")' + "?partNumber=" + $("#inputPartValue").val(),
            success: function (data) {
                $('#divCarManufactures').empty();
                $('#divCarManufactures').html(data);
            }
        });
        }
        function topCategorySelected() {
            ViewData["Title"] = "Home Page";
        }
        function back() {
            showMainView();
            $("input#inputPartValue").val("");
            $('#divSearchByPartNumber').show();
            $('#divBreadcrumbs').hide();
            $('#divSelectTopCategory').show();
        }
        function BreadCrumbsHistory(manufacture, model, mainCategoryId, mainCategoryName, subCategoryId, subCategoryName, subChildId, subChildName) {
        $('#divBreadcrumbsItems').empty();
        $('#divBreadcrumbs').show();
        $('#divSearchByPartNumber').hide();
        $('#divSelectTopCategory').hide();

            $('#divBreadcrumbsItems').append(`<div id="divBreadcrumbsManufacture"><div class="parentDivBreadCrumbs">
        <div style="min-width:155px;min-height:115px;text-align:center;"><img src="/images/Catalog/Model_Logo/${manufacture}.png" class="manufactureImageBreadcrumbs" /></div></div></div>`);
            if (model != null) {

                $('#divBreadcrumbsItems').append(`<div id="divBreadcrumbsModel" class="parentDivBreadCrumbs" style="display:grid;">
                <div style="min-width:155px;min-height:100px;max-height:100px;text-align:center;"><img src="/images/Catalog/CarModel/${manufacture}/${model}.png" class="manufactureImageBreadcrumbs" /></div><div class="manufactureTextBreadcrumbs"><span style="color:black;">${model}</span>
                            </div></div>`);
        }
            if (mainCategoryName != null) {
                $('#divBreadcrumbsItems').append(`<div id="divBreadcrumbsMainCategory" class="parentDivBreadCrumbs" style="display:grid;">
                <div style="min-width:155px;min-height:90px;text-align:center;"><img src="/images/Catalog/AutoParts/${mainCategoryId}.png" class="manufactureImageCategoryBreadcrumbs" /></div><div class="manufactureTextBreadcrumbs"><span style="color:black;">${mainCategoryName}</span>
                            </div></div>`);
            }
            if (subCategoryName != null) {
                $('#divBreadcrumbsItems').append(`<div id="divBreadcrumbsSubCategory" class="parentDivBreadCrumbs" style="display:grid;">
                <div style="min-width:155px;min-height:90px;text-align:center;"><img src="/images/Catalog/AutoParts/${subCategoryId}.png" class="manufactureImageCategoryBreadcrumbs" /></div><div class="manufactureTextBreadcrumbs"><span style="color:black;">${subCategoryName}</span>
                            </div></div>`);
            }
            if (subChildName != null) {
                $('#divBreadcrumbsItems').append(`<div id="divBreadcrumbsSubChildCategory" class="parentDivBreadCrumbs" style="display:grid;">
                <div style="min-width:155px;min-height:90px;text-align:center;"><img src="/images/Catalog/AutoParts/${subChildId}.png" class="manufactureImageCategoryBreadcrumbs" /></div><div class="manufactureTextBreadcrumbs"><span style="color:black;">${subChildName}</span>
                            </div></div>`);
            }
    }
        function onAjaxFailure(xhr, status, error) {
            $("#targetElement").html("<strong>An error occurred retrieving data:" + error + "<br/>.</strong>");
        }
        function onAjaxSuccess(data, status, xhr) {
            if (!$.trim(data)) {
                $("#targetElement").html("<div class='text-center'><strong>No results found for search.</strong></div>");
            }
        }
    function selectCarModel(manufacture, model) {
        $('#divSelectTopCategory').hide();
        $.ajax({
            type: "GET",
            url: '@Url.Action("ShowCategoryAutoParts", "Home")' + "?carManufactureName=" + manufacture + "&carModel=" + model,
            success: function (data) {
                BreadCrumbsHistory(manufacture, model);
                $('#divCarManufactures').empty();
                $('#divCarManufactures').html(data);
            }
        });
    }
        function selectMainCategory(manufacture, model, mainCategoryId, mainCategoryName) {
        $('#divSelectTopCategory').hide();
        $.ajax({
            type: "GET",
            url: '@Url.Action("ShowMainSubcategories", "Home")' + "?carManufactureName=" + manufacture + "&carModel=" + model + "&mainCategoryId=" + mainCategoryId + "&mainCategoryName=" + mainCategoryName,
            success: function (data) {
                BreadCrumbsHistory(manufacture, model, mainCategoryId, mainCategoryName);
                $('#divCarManufactures').empty();
                $('#divCarManufactures').html(data);
            }
        });
    }
        function selectSubMainCategory(manufacture, model, mainCategoryId, mainCategoryName, subCategoryId, subCategoryName) {
            $('#divCarManufactures').empty();
            $('#divCarManufactures').html('<div style="text-align: center; padding-top: 30%; display: block;"><img src="/images/load.gif" width="100px" /></div>');

        $('#divSelectTopCategory').hide();
        $.ajax({
            type: "GET",
            url: '@Url.Action("ShowMainSubChildsCategories", "Home")' + "?carManufactureName=" + manufacture + "&carModel=" + model + "&mainCategoryId=" + mainCategoryId + "&mainCategoryName=" + mainCategoryName +
                 "&subCategoryId=" + subCategoryId + "&subCategoryName=" + subCategoryName,
            success: function (data) {
                console.log("start");
                BreadCrumbsHistory(manufacture, model, mainCategoryId, mainCategoryName, subCategoryId, subCategoryName);
                $('#divCarManufactures').empty();
                $('#divCarManufactures').html(data);
            }
        });
    }
        function getAllegroData(manufacture, model, mainCategoryId, mainCategoryName, subCategoryId, subCategoryName, subChildId, subChildName) {
        $('#divSelectTopCategory').hide();
        $.ajax({
            type: "GET",
            url: '@Url.Action("ShowProductList", "Home")' + "?carManufactureName=" + manufacture + "&carModel=" + model + "&mainCategoryId=" + mainCategoryId + "&mainCategoryName=" + mainCategoryName +
                "&subCategoryId=" + subCategoryId + "&subCategoryName=" + subCategoryName + "&subChildId=" + subChildId + "&subChildName=" + subChildName,
            success: function (data) {
               BreadCrumbsHistory(manufacture, model, mainCategoryId, mainCategoryName, subCategoryId, subCategoryName, subChildId, subChildName);
               $('#divCarManufactures').empty();
               $('#divCarManufactures').html(data);
            }
        });
    }
        function FilteredList(state, sorting, page) {
            $('#divCarManufactures').empty();
            $('#divCarManufactures').html('<div style="text-align: center; padding-top: 30%; display: block;"><img src="/images/load.gif" width="100px" /></div>');
            $.ajax({
                type: "GET",
                url: '@Url.Action("FilteredList", "Home")' + "?state=" + state + "&sorting=" + sorting + "&page=" + page,
            success: function (data) {
               $('#divCarManufactures').empty();
                $('#divCarManufactures').html(data);
                console.log(data);
            }
        });
        }

    function selectManufacturer(carManufactureName) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("SelectManufactureAndModel", "Home")' + "?carManufactureName=" + carManufactureName,
            success: function (data) {
                BreadCrumbsHistory(carManufactureName);
                $('#divCarManufactures').empty();
                $('#divCarManufactures').html(data);
            }
        });
        }
         
        function goToCart(selectedProductId, manufacture, model, mainCategoryId, mainCategoryName, subCategoryId, subCategoryName, subChildId, subChildName, partNumber) {
            window.location.href = '/Product/CartView/' + "?selectedProductId=" + selectedProductId + "&carManufactureName=" + manufacture + "&carModel=" + model + "&mainCategoryId=" + mainCategoryId + "&mainCategoryName=" + mainCategoryName +
                "&subCategoryId=" + subCategoryId + "&subCategoryName=" + subCategoryName + "&subChildId=" + subChildId + "&subChildName=" + subChildName + "&partNumber=" + partNumber;
        }
        function showMainView(topCategoryId) {
            $('div[id*="divTopCategory_"]').removeClass("selected");
            $('#divTopCategory_' + topCategoryId).addClass("selected");
        $.ajax({
            type: "GET",
            url: '@Url.Action("ShowMainView", "Home")' + "?topCategoryId=" + topCategoryId,
            success: function (data) {
                $('#divCarManufactures').empty();
                $('#divCarManufactures').html(data);
            }
        });
        }
    </script>
</head>
<body>
    <table style="min-height: 100vh;min-width:100%;">
        <tr>
            @*LEFT PANEL*@
            <div id="targetElement"></div>
            <td class="leftIndexPanel">
                <div id="divSearchByPartNumber">
                    <img src="~/images/Catalog/LoupeBackground1.png" style="margin-top:15%" />
                    @*FIND DETAIL BY INPUT SEARCH*@
                    <div style="font-size:60px;vertical-align:top;text-align:center;">
                        <div style="margin-top: -40%;text-align:left;padding-left:25px;">
                            <span>Знайдіть деталь <br> по </span><span style="color:#F97008;font-weight:bold;">номеру</span>
                        </div>
                    </div>

                    <div>
                        <div style="margin-top:30px;padding-bottom:8px;">
                            <div style="display:inline-block;vertical-align:middle;">@Html.TextBoxFor(m => m.PartNumberValue, new { @placeholder = "Номер запчастини", @id = "inputPartValue" })</div>
                            <div class="loopBtn" onclick="submit()"><img style="padding-bottom:10px;" src="~/images/Catalog/InputLoupe.png"></div>
                        </div>
                    </div>
                </div>
                @*START BREADCRUMBS BLOCK*@
                <div id="divBreadcrumbs" style="display:none;text-align:center;">
                    <div>Ви вибрали:</div>
                    <div id="divBreadcrumbsItems" style="margin:0% 36%;">
                    </div>
                </div>
                @*END BREADCRUMBS BLOCK*@
            </td>



            @*RIGHT PANEL*@
            <td class="rightIndexPanel">
                @*SELECT TOP CATEGORY PANEL*@
                <div id="divSelectTopCategory">
                    <div class="mainBlockTitle">Виберіть розділ</div>
                    <div style="padding: 0px 0px 14px 0px;">
                        <div class="inline-block">
                            <div class="topCategoryDiv selected" style="display:grid;" id="divTopCategory_620" onclick="showMainView('620')">
                                <div style="text-align:center;">
                                    <img src="~/images/Catalog/Categories/New/Europe_CarTruckParts.png" class="TopCategoryImage" />
                                </div>
                                <div class="manufactureText">
                                    <span>Легкові і мікроавтобуси</span>
                                </div>
                            </div>
                        </div>
                        <div class="inline-block">
                            <div class="topCategoryDiv" style="display:grid;" id="divTopCategory_621" onclick="showMainView('621')">
                                <div style="text-align:center;">
                                    <img src="~/images/Catalog/Categories/New/Europe_TruckParts.png" class="TopCategoryImage" />
                                </div>
                                <div class="manufactureText">
                                    <span>Грузові</span>
                                </div>
                            </div>
                        </div>
                        <div class="inline-block">
                            <div class="topCategoryDiv" style="display:grid;" id="divTopCategory_622" onclick="showMainView('622')">
                                <div style="text-align:center;">
                                    <img src="~/images/Catalog/Categories/New/Europe_BusParts.png" class="TopCategoryImage" />
                                </div>
                                <div class="manufactureText">
                                    <span>Автобуси</span>
                                </div>
                            </div>
                        </div>
                        <div class="inline-block">
                            <div class="topCategoryDiv" style="display:grid;" id="divTopCategory_99022" onclick="showMainView('99022')">
                                <div style="text-align:center;">
                                    <img src="~/images/Catalog/Categories/New/CarType_Special.png" class="TopCategoryImage" />
                                </div>
                                <div class="manufactureText">
                                    <span>Спецтехніка</span>
                                </div>
                            </div>
                        </div>
                        <div class="inline-block">
                            <div class="topCategoryDiv" style="display:grid;" id="divTopCategory_156" onclick="showMainView('156')">
                                <div style="text-align:center;">
                                    <img src="~/images/Catalog/Categories/New/CarType_Moto.png" class="TopCategoryImage" />
                                </div>
                                <div class="manufactureText">
                                    <span>Мотоцикли</span>
                                </div>
                            </div>
                        </div>
                        <div class="inline-block">
                            <div class="topCategoryDiv" style="display:grid;">
                                <div style="text-align:center;">
                                    <img src="~/images/Catalog/Categories/New/Europe_TiresAndRims.png" class="TopCategoryImage" />
                                </div>
                                <div class="manufactureText">
                                    <span>Шини і дисик</span>
                                </div>
                            </div>
                        </div>
                        <div class="inline-block">
                            <div class="topCategoryDiv" style="display:grid;">
                                <div style="text-align:center;">
                                    <img src="~/images/Catalog/Categories/New/Europe_Tools.png" class="TopCategoryImage" />
                                </div>
                                <div class="manufactureText">
                                    <span>Інструменти і обладнання</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*CAR MANUFACTURE TREE*@
                <div id="divCarManufactures">
                    @Html.Partial("_CarTree", @Model)
                </div>
            </td>
        </tr>
    </table>
</body>
</html>