@model WebApplication.Models.RightTreeViewModel

@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>

<html>
<head>
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NWTLZ5F');</script>
    <!-- End Google Tag Manager -->

    <link href="~/css/site.css" rel="stylesheet" />
    <script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1" />

    <style>
        #divSubCat50823, #divMainCat629 {
            display: none !important;
        }
    </style>
    <script type="text/javascript">
        function getURLParameter(url, name) {
            return (RegExp(name + '=' + '(.+?)(&|$)').exec(url) || [, null])[1];
        }
        function capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }
        function showHideAutoParts() {
            if ($(".divAllParts").css("font-size") == "0px") {
                $(".divAllParts").css("font-size", "16px");
                $(".treeMainCategory").css("font-size", "26px");
                $(".treeSubCategory").css("font-size", "16px");
                $(".treeMainCategory").css("width", "100%");
                $(".treeSubCategory").css("width", $(document).width()<750 ? "100%" : "18%");
                $(".treeMainCategory").css("padding", "20px 0px 20px 0px");
                $(".treeSubCategory").css("padding", "10px 30px");
            }
            else {
                $(".divAllParts").css("font-size", "0px");
                $(".treeMainCategory").css("font-size", "0px");
                $(".treeSubCategory").css("font-size", "0px");
                $(".treeMainCategory").css("width", "0");
                $(".treeSubCategory").css("width", "0");
                $(".treeMainCategory").css("padding", "0");
                $(".treeSubCategory").css("padding", "0");
            }
        }
        function showHidePopularNumbers() {
            if ($(".partNumbersRandom").css("font-size") == "0px") {
                $(".partNumbersRandom").css("font-size", "16px");
                $(".partNumbersRandom").css("padding", "5px 10px");
                $(".partNumbersRandom").css("margin", "10px 10px 10px 0px");
                $(".partNumbersRandom").css("box-shadow", "0px 0px 8px #ff5a00");
                $(".partNumbersRandom").css("border", "1px solid white");

            }
            else {
                $(".partNumbersRandom").css("font-size", "0px");
                $(".partNumbersRandom").css("padding", "0px");
                $(".partNumbersRandom").css("margin", "0px");
                $(".partNumbersRandom").css("box-shadow", "0px");
                $(".partNumbersRandom").css("border", "0px");
            }

        }
        $(document).ready(function () {
            var url = window.location.href;//.replaceAll('/', '&').replace('&&', '//');;
            if (url.includes("instructions")) {
                $("#openInstructions").click();
                return;
            }

            if (url.includes("warranty")) {
                $("#openWarranty").click();
                return;
            }
            if (url.includes("delivery")) {
                $("#openDelivery").click();
                return;
            }
            if (url.includes("return")) {
                $("#openReturn").click();
                return;
            }
            if (url.includes("partnership")) {
                $("#openPartnership").click();
                return;
            }
            if (url.includes("contacts")) {
                $("#openContacts").click();
                return;
            }

            var deleteFromUrl = window.location.protocol + "//" + window.location.host + "/"; // delete protocol and host from url, must be only parameters
            var parsedItems = url.replace(deleteFromUrl, '').split('/');

            var params = new window.URLSearchParams(url.replaceAll('&amp;', '&'));
            if (parsedItems[0] != undefined && parsedItems[1] != undefined && parsedItems[2] != undefined && parsedItems[3] != undefined && parsedItems[1] == "customsearch") {
                $("#divSelectTopCategory").hide();
                return;
            }
            if (parsedItems[0] != '' && !parsedItems[0].includes("search") && (parsedItems[1] == '18554' || parsedItems[1] == '99193')) {
                var topcategory = parsedItems[1];
                var mainCategoryId = null;
                if (parsedItems[2] != undefined) {
                    mainCategoryId = parsedItems[2];
                }
                var mainCategoryName = null;
                if (parsedItems[3] != undefined) {
                    mainCategoryName = decodeURI(parsedItems[3].replaceAll('-', ' '));
                }
                var subCategoryId = null;
                var subCategoryName = null;
                var subChildId = null;
                var subChildName = null;

                if (parsedItems[4] != undefined) {
                    subCategoryId = parsedItems[4];
                }
                if (parsedItems[5] != undefined) {
                    subCategoryName = decodeURI(parsedItems[5].replaceAll('-', ' '));
                }
                if (parsedItems[6] != undefined) {
                    var subChildId = parsedItems[6];
                }
                if (parsedItems[7] != undefined) {
                    var subChildName = decodeURI(parsedItems[7].replaceAll('-', ' '));
                }
                if (mainCategoryId != null && mainCategoryId != '' && (subCategoryId == '' || subCategoryId == null)) {
                    selectMainCategory('', '', mainCategoryId, mainCategoryName, kioskId, topcategory);
                    return;
                }
                if (mainCategoryId != null && mainCategoryName != null && mainCategoryId != '' && mainCategoryId != '' && subCategoryId != null && subCategoryId != '' && subCategoryName != null && subCategoryName != '') {
                    if (subChildId == null && subChildName == null || subChildId == '' && subChildName == '') {
                        selectSubMainCategory('', '', mainCategoryId, mainCategoryName, subCategoryId, subCategoryName, kioskId, topcategory);
                        return;
                    }
                    else {
                        getAllegroData('', '', mainCategoryId, mainCategoryName, subCategoryId, subCategoryName, subChildId, subChildName, kioskId, topcategory);
                        return;
                    }
                }
            }
            if (parsedItems[0] != '' && !parsedItems[0].includes("search") && (!parsedItems[0].includes("topcategoryid") || parsedItems[2] != undefined))
            {
                if (parsedItems[2] == undefined) {
                    showMainView(decodeURI(parsedItems[1].replaceAll("-", " ")));
                    return;
                }
                var carManufactureName = parsedItems[2].toLowerCase().includes("mercedes") ? parsedItems[2] : parsedItems[2].replaceAll('-', ' ');
                var kioskId = 116;
                var carModel = null;
                var topcategory = parsedItems[1];
                if (parsedItems[3] != undefined) {
                    carModel = parsedItems[3].replaceAll('-', ' ');
                }
                if (carManufactureName != null && carModel == null || carManufactureName != '' && carModel == '') {
                    selectManufacturer(carManufactureName, kioskId, topcategory);
                    return;
                }
                var mainCategoryId = null;
                if (parsedItems[4] != undefined) {
                    mainCategoryId = parsedItems[4];
                }
                if (carManufactureName != null && carModel != null && mainCategoryId == null || carManufactureName != '' && carModel != '' && mainCategoryId == '') {
                    BreadCrumbsHistory(carManufactureName, carModel, null, null, null, null, null, null, null, kioskId, null, null, topcategory);
                    window.history.replaceState(null, null, ("/topcategoryid/" + topcategory + "/" + carManufactureName.replaceAll(" ", "-") + "/" + carModel.replaceAll(" ", "-")).toLowerCase());
                    return;
                }

                var mainCategoryName = decodeURI(parsedItems[5].replaceAll('-', ' '));
                var subCategoryId = null;
                var subCategoryName = null;
                var subChildId = null;
                var subChildName = null;

                if (parsedItems[6] != undefined) {
                    subCategoryId = parsedItems[6];
                }
                if (parsedItems[7] != undefined) {
                    subCategoryName = decodeURI(parsedItems[7].replaceAll('-', ' '));
                }
                if (parsedItems[8] != undefined) {
                    var subChildId = parsedItems[8];
                }
                if (parsedItems[9] != undefined) {
                    var subChildName = decodeURI(parsedItems[9].replaceAll('-', ' '));
                }
                if (carManufactureName != null && carModel != null && mainCategoryId != null && carManufactureName != '' && carModel != '' && mainCategoryId != '' && (subCategoryId == '' || subCategoryId == null)) {
                    selectMainCategory(carManufactureName, carModel, mainCategoryId, mainCategoryName, kioskId, topcategory);
                    return;
                }
                if (mainCategoryId != null && mainCategoryName != null && mainCategoryId != '' && mainCategoryId != '' && subCategoryId != null && subCategoryId != '' && subCategoryName != null && subCategoryName != '') {
                    if (subChildId == null && subChildName == null || subChildId == '' && subChildName == '') {
                        selectSubMainCategory(carManufactureName, carModel, mainCategoryId, mainCategoryName, subCategoryId, subCategoryName, kioskId, topcategory);
                    return;
                }
                    else {
                        getAllegroData(carManufactureName, carModel, mainCategoryId, mainCategoryName, subCategoryId, subCategoryName, subChildId, subChildName, kioskId, topcategory);
                    return;
                }
                }
            }
            if (parsedItems[0] != undefined && parsedItems[0] == 'search') {
                $("#inputPartValue").val(decodeURI(parsedItems[1].replaceAll("-", " ")));
                submit();
            }
            if (parsedItems[0] != undefined && parsedItems[0] == 'topcategoryid') {
                showMainView(decodeURI(parsedItems[1].replaceAll("-", " ")));
            }

        });
        $.getJSON('https://api.ipify.org?format=jsonp&callback=?', function (data) {
            if (data.ip != "176.38.20.244") {
                $("#hrefMoto").removeAttr('href');
                $("#divTopCategory_156").css("cursor","not-allowed !important");
            }
        });
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return typeof sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
            return false;
        };
        function submitInputFilter(inputFilter) {
            inputFilter = inputFilter.replaceAll("-", " ");
            $('#divSelectTopCategory').hide();
            $('#divCarManufactures').empty();
            $('#divCarManufactures').html('<div style="text-align: center; padding: 30% 0; display: block;"><img src="/images/load.gif" width="100px" /></div>');
        $.ajax({
            type: "GET",
            url: '@Url.Action("PartNumberInput", "Home")' + "?partNumber=" + inputFilter,
            success: function (data) {
                $('#divCarManufactures').empty();
                $('#divCarManufactures').html(data);
                window.history.replaceState(null, null, ("/search/" + inputFilter.replaceAll(" ", "-")).toLowerCase());
                document.title = inputFilter;
            }
        });
        }
        function submit() {
            $('#divSelectTopCategory').hide();
            $('#divCarManufactures').empty();
            $('#divCarManufactures').html('<div style="text-align: center; padding: 30% 0; display: block;"><img src="/images/load.gif" width="100px" /></div>');
        $.ajax({
            type: "GET",
            url: '@Url.Action("PartNumberInput", "Home")' + "?partNumber=" + $("#inputPartValue").val(),
            success: function (data) {
                $('#divCarManufactures').empty();
                $('#divCarManufactures').html(data);
                window.history.replaceState(null, null, ("/search/" + $("#inputPartValue").val().replaceAll(" ", "-")).toLowerCase());
                document.title = $("#inputPartValue").val();
            }
        });
        }
        function topCategorySelected() {
            ViewData["Title"] = "Home Page";
        }
        function back(categoryTop) {
            showMainView(categoryTop);
            $("input#inputPartValue").val("");
            $('#divSearchByPartNumber').show();
            $('#divBreadcrumbs').hide();
            $('#divSelectTopCategory').show();
        }
        function BreadCrumbsHistory(manufacture, model, mainCategoryId, mainCategoryName, subCategoryId, subCategoryName, subChildId, subChildName, modification, kioskId, lastChildId, lastChildName, topcategoryid) {
            $('#divBreadcrumbsItems').empty();
            $('#divBreadcrumbs').show();
            $('#divSearchByPartNumber').hide();
            $('#divSelectTopCategory').hide();
            if (manufacture != null && manufacture != "") {
                $('#divBreadcrumbsItems').append(`<div id="divBreadcrumbsManufacture" onclick="selectManufacturer('${manufacture}', '${kioskId}', '${topcategoryid}')"><div class="parentDivBreadCrumbs">
                <div class="divCarModelsBlock"><img src="/images/Catalog/Model_Logo/${manufacture}.webp" class="manufactureImageBreadcrumbs" /></div></div></div>`);
            }
            if (modification != null && modification != "") {
                if (model != null && model != "") {

                    $('#divBreadcrumbsItems').append(`<div id="divBreadcrumbsModel" class="parentDivBreadCrumbs" onclick="selectCarModel('${manufacture}', '${model}', null, '${kioskId}', '${topcategoryid}')" style="display:grid;">
                <div class="breadcrumbsStyle1"><img src="/images/Catalog/CarModel/${manufacture}/${modification}.png" class="modelImageBreadcrumbs" /></div><div class="manufactureTextBreadcrumbs"><span style="color:black;">${modification}</span>
                            </div></div>`);
                }
            }
            else {
                if (model != null && model != "") {

                    $('#divBreadcrumbsItems').append(`<div id="divBreadcrumbsModel" class="parentDivBreadCrumbs" onclick="selectCarModel('${manufacture}', '${model}', null, '${kioskId}', '${topcategoryid}')" style="display:grid;">
                <div class="breadcrumbsStyle1"><img src="/images/Catalog/CarModel/${manufacture}/${model}.png" class="modelImageBreadcrumbs" /></div><div class="manufactureTextBreadcrumbs"><span style="color:black;">${model}</span>
                            </div></div>`);
                }
            }
            if (mainCategoryName != null) {
                $('#divBreadcrumbsItems').append(`<div id="divBreadcrumbsMainCategory" class="parentDivBreadCrumbs" onclick="selectMainCategory('${manufacture}', '${model}', '${mainCategoryId}', '${mainCategoryName}', '${kioskId}', '${topcategoryid}')" style="display:grid;">
                <div class="breadcrumbsStyle2"><img src="/images/Catalog/AutoParts/${mainCategoryId}.png" class="manufactureImageCategoryBreadcrumbs" /></div><div class="manufactureTextBreadcrumbs"><span style="color:black;">${mainCategoryName}</span>
                            </div></div>`);
            }
            if (subCategoryName != null) {
                $('#divBreadcrumbsItems').append(`<div id="divBreadcrumbsSubCategory" class="parentDivBreadCrumbs" onclick="selectSubMainCategory('${manufacture}', '${model}', '${mainCategoryId}', '${mainCategoryName}', '${subCategoryId}', '${subCategoryName}', '${kioskId}', '${topcategoryid}')" style="display:grid;">
                <div class="breadcrumbsStyle2"><img src="/images/Catalog/AutoParts/${subCategoryId}.png" class="manufactureImageCategoryBreadcrumbs" /></div><div class="manufactureTextBreadcrumbs"><span style="color:black;">${subCategoryName}</span>
                            </div></div>`);
            }
            if (subChildName != null) {
                $('#divBreadcrumbsItems').append(`<div id="divBreadcrumbsSubChildCategory" class="parentDivBreadCrumbs" style="display:grid;">
                <div class="breadcrumbsStyle2"><img src="/images/Catalog/AutoParts/${subChildId}.png" class="manufactureImageCategoryBreadcrumbs" /></div><div class="manufactureTextBreadcrumbs"><span style="color:black;">${subChildName}</span>
                            </div></div>`);
            }
            if (lastChildName != null) {
                $('#divBreadcrumbsItems').append(`<div id="divBreadcrumbsSubChildCategory" class="parentDivBreadCrumbs" style="display:grid;">
                <div class="breadcrumbsStyle2"><img src="/images/Catalog/AutoParts/${lastChildId}.png" class="manufactureImageCategoryBreadcrumbs" /></div><div class="manufactureTextBreadcrumbs"><span style="color:black;">${lastChildName}</span>
                            </div></div>`);
            }
        }
        function onAjaxFailure(xhr, status, error) {
            $("#targetElement").html("<strong>An error occurred retrieving data:" + error + "<br/>.</strong>");
        }
        function onAjaxSuccess(data, status, xhr) {
            if (!$.trim(data)) {
                $("#targetElement").html("<div class='text-center'><strong>No results found for search.</strong></div>");
            }
        }
        function selectCarModel(manufacture, model, modification, kioskId, topcategoryid) {
            $('#divSelectTopCategory').hide();
            $.ajax({
                type: "GET",
                url: '@Url.Action("ShowCategoryAutoParts", "Home")' + "?carManufactureName=" + manufacture + "&carModel=" + model + "&modification=" + modification + "&topcategoryid=" + topcategoryid,
                success: function (data) {
                    if (model != "" && model != null) {
                        if (modification != null && modification != "") {
                            BreadCrumbsHistory(manufacture, model, null, null, null, null, null, null, modification, kioskId, null, null, topcategoryid);
                        }
                        else {
                            BreadCrumbsHistory(manufacture, model, null, null, null, null, null, null, null, kioskId, null, null, topcategoryid);
                        }
                    }
                    if (modification == null || modification == ''){
                        document.title = manufacture + " " + model;
                    }
                    else {
                        document.title = manufacture + " " +  modification;
                    }
                $('#divCarManufactures').empty();
                    $('#divCarManufactures').html(data);
                    if (model != "" && model != null) {
                        if (modification != "" && modification != null) {
                            model = modification;
                        }
                        window.history.replaceState(null, null, ("/topcategoryid/" + topcategoryid + "/" + manufacture.replaceAll(" ", "-") + "/" + model.replaceAll(" ", "-")).toLowerCase());
                }
                else {
                    $('#divBreadcrumbs').hide();
                    $('#divSearchByPartNumber').show();
                    $('#divSelectTopCategory').show();
                }
            }
        });
        return false;
        }
        function selectCarModifications(carManufactureName, model, kioskId, topcategoryid) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("SelectModelModifications", "Home")' + "?carManufactureName=" + carManufactureName + "&carModel=" + model + "&topcategoryid=" + topcategoryid,
            success: function (data) {
                if (model != "" && model != null) {
                    BreadCrumbsHistory(carManufactureName, model, null, null, null, null, null, null, null, kioskId, null, null, topcategoryid);
                }
                document.title = carManufactureName + " " + model;
                $('#divCarManufactures').empty();
                $('#divCarManufactures').html(data);
                if (carManufactureName != "" && carManufactureName != null) {
                    window.history.replaceState(null, null, ("/topcategoryid/" + topcategoryid + "/" + carManufactureName.replaceAll(" ", "-") + "/" + model.replaceAll(" ", "-")).toLowerCase());
                }
                else {
                    $('#divBreadcrumbs').hide();
                    $('#divSearchByPartNumber').show();
                    $('#divSelectTopCategory').show();
                    $('div[id*="divTopCategory_"]').removeClass("selected");
                    $('#divTopCategory_620').addClass("selected");
                }
            }
        });
        return false;
        }
        function selectMainCategory(manufacture, model, mainCategoryId, mainCategoryName, kioskId, topcategoryid) {
        $('#divSelectTopCategory').hide();
        $.ajax({
            type: "GET",
            url: '@Url.Action("ShowMainSubcategories", "Home")' + "?carManufactureName=" + manufacture + "&carModel=" + model + "&mainCategoryId=" + mainCategoryId + "&mainCategoryName=" + mainCategoryName + "&topcategoryid=" + topcategoryid,
            success: function (data) {
                BreadCrumbsHistory(manufacture, model, mainCategoryId, mainCategoryName, null, null, null, null, null, kioskId, null, null, topcategoryid);
                $('#divCarManufactures').empty();
                $('#divCarManufactures').html(data);
                if (manufacture != '' && model != '') {
                    window.history.pushState(null, null, ("/topcategoryid/" + topcategoryid + "/" + manufacture.replaceAll(" ", "-") + "/" + model.replaceAll(" ", "-") + "/" + mainCategoryId + "/").toLowerCase() + capitalizeFirstLetter(mainCategoryName.replaceAll(" ", "-").toLowerCase()));//capitalizeFirstLetter
                }
                else {
                    window.history.pushState(null, null, ("/topcategoryid/" + topcategoryid + "/" + mainCategoryId + "/").toLowerCase() + capitalizeFirstLetter(mainCategoryName.replaceAll(" ", "-").toLowerCase()));
                }
                document.title = mainCategoryName + " " + manufacture + " " + model;
            }
        });
    }
        function selectSubMainCategory(manufacture, model, mainCategoryId, mainCategoryName, subCategoryId, subCategoryName, kioskId, topcategoryid) {
            $('#divCarManufactures').empty();
            $('#divCarManufactures').html('<div style="text-align: center; padding: 30% 0; display: block;"><img src="/images/load.gif" width="100px" class="loadGif" /></div>');

        $('#divSelectTopCategory').hide();
        $.ajax({
            type: "GET",
            url: '@Url.Action("ShowMainSubChildsCategories", "Home")' + "?carManufactureName=" + manufacture + "&carModel=" + model + "&mainCategoryId=" + mainCategoryId + "&mainCategoryName=" + mainCategoryName +
                "&subCategoryId=" + subCategoryId + "&subCategoryName=" + subCategoryName + "&topcategoryid=" + topcategoryid,
            success: function (data) {
                console.log("start");
                BreadCrumbsHistory(manufacture, model, mainCategoryId, mainCategoryName, subCategoryId, subCategoryName, null, null, null, kioskId, null, null, topcategoryid);
                $('#divCarManufactures').empty();
                $('#divCarManufactures').html(data);
                if (manufacture != '') {
                    window.history.replaceState(null, null, ("/topcategoryid/" + topcategoryid + "/" + manufacture.replaceAll(" ", "-") + "/" + model.replaceAll(" ", "-") + "/" + mainCategoryId + "/").toLowerCase() + capitalizeFirstLetter(mainCategoryName.replaceAll(" ", "-").toLowerCase()) +
                        "/" + subCategoryId.toLowerCase() + "/" + capitalizeFirstLetter(subCategoryName.replaceAll(" ", "-").toLowerCase()));//capitalizeFirstLetter
                }
                else {
                    window.history.replaceState(null, null, ("/topcategoryid/" + topcategoryid + "/" + mainCategoryId + "/").toLowerCase() + capitalizeFirstLetter(mainCategoryName.replaceAll(" ", "-").toLowerCase()) +
                        "/" + subCategoryId + "/" + capitalizeFirstLetter(subCategoryName.replaceAll(" ", "-").toLowerCase()));//capitalizeFirstLetter
                }
                document.title = manufacture + " " + model + " " +  subCategoryName;
            }
            @*error: function (jqXHR, textStatus, errorThrown) {
                window.location = '@Url.Action("Error", "Home")';
            }*@
        });
        }

        function getLastAllegroData(manufacture, model, mainCategoryId, mainCategoryName, subCategoryId, subCategoryName, subChildId, subChildName, lastChildId, lastChildName, kioskId, topcategoryid) {
            $('#divSelectTopCategory').hide();
            $('#divCarManufactures').empty();
            $('#divCarManufactures').html('<div style="text-align: center; padding: 30% 0; display: block;"><img src="/images/load.gif" class="loadGif" width="100px" /></div>');
        $.ajax({
            type: "GET",
            url: '@Url.Action("ShowProductList", "Home")' + "?carManufactureName=" + manufacture + "&carModel=" + model + "&mainCategoryId=" + mainCategoryId + "&mainCategoryName=" + mainCategoryName +
                "&subCategoryId=" + subCategoryId + "&subCategoryName=" + subCategoryName + "&subChildId=" + subChildId + "&subChildName=" + subChildName + "&lastChildId=" + lastChildId + "&lastChildName=" + lastChildName + "&topcategoryid=" + topcategoryid,
            success: function (data) {
                BreadCrumbsHistory(manufacture, model, mainCategoryId, mainCategoryName, subCategoryId, subCategoryName, subChildId, subChildName, null, kioskId, lastChildId, lastChildName, topcategoryid);
               $('#divCarManufactures').empty();
                $('#divCarManufactures').html(data);
                if (manufacture != '') {
                    window.history.replaceState(null, null, ("/topcategoryid/" + topcategoryid + "/" + manufacture.replaceAll(" ", "-") + "/" + model.replaceAll(" ", "-") + "/" + mainCategoryId + "/").toLowerCase() + capitalizeFirstLetter(mainCategoryName.replaceAll(" ", "-").toLowerCase()) +
                        "/" + subCategoryId.toLowerCase() + "/" + capitalizeFirstLetter(subCategoryName.replaceAll(" ", "-").toLowerCase()) + "/" + subChildId.toLowerCase() + "/" + capitalizeFirstLetter(subChildName.replaceAll(" ", "-").toLowerCase()) + "/" + lastChildId + "/" + capitalizeFirstLetter(lastChildName.replaceAll(" ", "-").toLowerCase()));//capitalizeFirstLetter
                }
                else {
                    window.history.replaceState(null, null, ("/topcategoryid/" + topcategoryid + "/" + mainCategoryId + "/").toLowerCase() + capitalizeFirstLetter(mainCategoryName.replaceAll(" ", "-").toLowerCase()) +
                        "/" + subCategoryId.toLowerCase() + "/" + capitalizeFirstLetter(subCategoryName.replaceAll(" ", "-").toLowerCase()) + "/" + subChildId.toLowerCase() + "/" + capitalizeFirstLetter(subChildName.replaceAll(" ", "-").toLowerCase()) + "/" + lastChildId.toLowerCase() + "/" + capitalizeFirstLetter(lastChildName.replaceAll(" ", "-").toLowerCase()));
                }

                document.title = lastChildName + " " + manufacture + " " + model;
            }
            @*error: function (jqXHR, textStatus, errorThrown) {
                window.location = '@Url.Action("Error", "Home")';
            }*@
        });
    }
        function getAllegroData(manufacture, model, mainCategoryId, mainCategoryName, subCategoryId, subCategoryName, subChildId, subChildName, kioskId, topcategoryid) {
            $('#divSelectTopCategory').hide();
            $('#divCarManufactures').empty();
            $('#divCarManufactures').html('<div style="text-align: center; padding: 30% 0; display: block;"><img src="/images/load.gif" class="loadGif" width="100px" /></div>');
        $.ajax({
            type: "GET",
            url: '@Url.Action("ShowProductList", "Home")' + "?carManufactureName=" + manufacture + "&carModel=" + model + "&mainCategoryId=" + mainCategoryId + "&mainCategoryName=" + mainCategoryName +
                "&subCategoryId=" + subCategoryId + "&subCategoryName=" + subCategoryName + "&subChildId=" + subChildId + "&subChildName=" + subChildName + "&topcategoryid=" + topcategoryid,
            success: function (data) {
                BreadCrumbsHistory(manufacture, model, mainCategoryId, mainCategoryName, subCategoryId, subCategoryName, subChildId, subChildName, null, kioskId, null, null, topcategoryid);
                $('#divCarManufactures').empty();
                $('#divCarManufactures').html(data);
                if (manufacture != '') {
                    window.history.replaceState(null, null, ("/topcategoryid/" + topcategoryid + "/" + manufacture.replaceAll(" ", "-") + "/" + model.replaceAll(" ", "-") + "/" + mainCategoryId + "/").toLowerCase() + capitalizeFirstLetter(mainCategoryName.replaceAll(" ", "-").toLowerCase()) +
                        "/" + subCategoryId.toLowerCase() + "/" + capitalizeFirstLetter(subCategoryName.replaceAll(" ", "-").toLowerCase()) + "/" + subChildId.toLowerCase() + "/" + capitalizeFirstLetter(subChildName.replaceAll(" ", "-").toLowerCase()));//capitalizeFirstLetter
                }
                else {
                    window.history.replaceState(null, null, ("/topcategoryid/" + topcategoryid + "/" + mainCategoryId + "/" + mainCategoryName.replaceAll(" ", "-") +
                        "/" + subCategoryId + "/" + subCategoryName.replaceAll(" ", "-") + "/" + subChildId + "/" + subChildName.replaceAll(" ", "-")).toLowerCase());
                }
                document.title = subChildName + " " + manufacture + " " + model;
            }
            @*error: function (jqXHR, textStatus, errorThrown) {
                window.location = '@Url.Action("Error", "Home")';
            }*@
        });
    }
        function FilteredList(state, sorting, page, position, isorigin, enginetype, transmissionType, tiresQuantity, tiresWidth, tiresHeight, tiresRSize, engineValue) {
            $('#divCarManufactures').empty();
            $('#divCarManufactures').html('<div style="text-align: center; padding: 30% 0; display: block;"><img src="/images/load.gif" class="loadGif" width="100px" /></div>');
            $.ajax({
                type: "GET",
                url: '@Url.Action("FilteredList", "Home")' + "?state=" + state + "&sorting=" + sorting + "&page=" + page + "&position=" + position + "&isorigin=" + isorigin + "&enginetype=" + enginetype + "&transmissionType=" + transmissionType +
                    "&tiresQuantity=" + tiresQuantity + "&tiresWidth=" + tiresWidth + "&tiresHeight=" + tiresHeight + "&tiresRSize=" + tiresRSize + "&engineValue=" + engineValue,
            success: function (data) {
               $('#divCarManufactures').empty();
                $('#divCarManufactures').html(data);
            }
        });
        }

    function selectManufacturer(carManufactureName, kioskId, topcategoryid) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("SelectManufactureAndModel", "Home")' + "?carmanufacture=" + carManufactureName + "&topcategoryid=" + topcategoryid,
            success: function (data) {
                if (carManufactureName != "" && carManufactureName != null) {
                    BreadCrumbsHistory(carManufactureName, null, null, null, null, null, null, null, null, kioskId, null, null, topcategoryid);
                }

                $('#divCarManufactures').empty();
                $('#divCarManufactures').html(data);
                if (carManufactureName != "" && carManufactureName != null) {
                    window.history.replaceState(null, null, ("/topcategoryid/" + topcategoryid + "/" + carManufactureName.replaceAll(" ", "-")).toLowerCase());
                }
                else {
                    $('#divBreadcrumbs').hide();
                    $('#divSearchByPartNumber').show();
                    $('#divSelectTopCategory').show();
                    $('div[id*="divTopCategory_"]').removeClass("selected");
                    $('#divTopCategory_620').addClass("selected");
                }
                document.title = carManufactureName;
            }
            @*error: function (jqXHR, textStatus, errorThrown) {
                window.location = '@Url.Action("Error", "Home")';
            }*@
        });
        return false;
        }

        function goToCart(selectedProductId, kioskId) {
            window.open('/Product/CartView/' + selectedProductId, "_self");
        }
        function showMainView(topCategoryId) {
            $('div[id*="divTopCategory_"]').removeClass("selected");
            $('#divTopCategory_' + topCategoryId).addClass("selected");
        $.ajax({
            type: "GET",
            url: '@Url.Action("ShowMainView", "Home")' + "?topCategoryId=" + topCategoryId,
            success: function (data) {
                window.history.replaceState(null, null, ("/topcategoryid/" + topCategoryId).toLowerCase());
                $('#divCarManufactures').empty();
                $('#divCarManufactures').html(data);
            }
        });
        }

    </script>

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NWTLZ5F"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <table style="min-height: 100%;height:100%;;min-width:100%;">
        <tr>
            @*LEFT PANEL*@
            <td class="leftIndexPanel">
                <div id="divSearchByPartNumber">
                    <img src="~/images/Catalog/LoupeBackground1.png" style="margin-top:25%" id="imgLoopBack" />
                    @*FIND DETAIL BY INPUT SEARCH*@
                    <div class="inputSearchTopText">
                        <div class="inputInsideBlock">
                            <span>Найдите деталь по </span><span class="inputSearchBottomText">номеру запчасти</span>
                        </div>
                    </div>
                    <div>
                        <div class="inputControlBlock">
                            <div style="display:inline-block;vertical-align:middle;width:85%;">@Html.TextBoxFor(m => m.PartNumberValue, new { @placeholder = "Введите № детали или наименование", @id = "inputPartValue", @class = "inputPart", @onkeydown = "if (event.keyCode == 13) {{submit()}}" })</div>
                            <div class="loopBtn" onclick="submit()"><img class="loopImgPadding" src="~/images/Catalog/InputLoupe.png"></div>
                        </div>
                    </div>
                </div>

                @*START BREADCRUMBS BLOCK*@
                <div id="divBreadcrumbs" style="display:none;text-align:center;">
                    <div class="breadcrumbTitle">Вы выбрали:</div>
                    <div id="divBreadcrumbsItems" style="margin:0% 30%;">
                    </div>
                </div>
                @*END BREADCRUMBS BLOCK*@
            </td>



            @*RIGHT PANEL*@
            <td class="rightIndexPanel">
                @*SELECT TOP CATEGORY PANEL*@
                <div id="divSelectTopCategory">
                    <div class="mainBlockTitle">Выберите раздел</div>
                    <div class="divSelectTopCategoryBlock">
                        <div class="inline-block">
                            <a href="/topcategory/620">
                                <div class="topCategoryDiv selected" style="display:grid;" id="divTopCategory_620">
                                    @*onclick="showMainView('620')"*@
                                    <div style="text-align:center;">
                                        <img src="~/images/Catalog/Categories/New/Europe_CarTruckParts.png" alt="Легковые и микроавтобусы" class="TopCategoryImage" />
                                    </div>
                                    <div class="manufactureTextTop">
                                        <span>Легковые и микроавтобусы</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="inline-block">
                            <a href="/topcategory/621">
                                <div class="topCategoryDiv" style="display:grid;" id="divTopCategory_621">
                                    @*onclick="showMainView('621')"*@
                                    <div style="text-align:center;">
                                        <img src="~/images/Catalog/Categories/New/Europe_TruckParts.png" alt="Грузовые" class="TopCategoryImage" />
                                    </div>
                                    <div class="manufactureTextTop">
                                        <span>Грузовые</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="inline-block">
                            <a href="/topcategory/622">
                                <div class="topCategoryDiv" style="display:grid;" id="divTopCategory_622">
                                    @*onclick="showMainView('622')"*@
                                    <div style="text-align:center;">
                                        <img src="~/images/Catalog/Categories/New/Europe_BusParts.png" alt="Автобусы" class="TopCategoryImage" />
                                    </div>
                                    <div class="manufactureTextTop">
                                        <span>Автобусы</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="inline-block">
                            <div class="topCategoryDiv" style="display:grid;cursor:not-allowed !important;" id="divTopCategory_99022" @*onclick="showMainView('99022')"*@>
                                <div style="text-align:center;">
                                    <img src="~/images/Catalog/Categories/New/CarType_Special.png" alt="Спецтехника" class="TopCategoryImage" />
                                </div>
                                <div class="manufactureTextTop">
                                    <span>Спецтехника</span>
                                </div>
                            </div>
                        </div>
                        <div class="inline-block">
                            <a id="hrefMoto" href="/topcategory/156">
                                <div class="topCategoryDiv" style="display:grid;" id="divTopCategory_156">
                                    @*onclick="showMainView('156')"*@
                                    <div style="text-align:center;">
                                        <img src="~/images/Catalog/Categories/New/CarType_Moto.png" alt="Мото и аксессуары" class="TopCategoryImage" />
                                    </div>
                                    <div class="manufactureTextTop">
                                        <span>Мото и аксессуары</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="inline-block">
                            <a href="/topcategory/99193">
                                <div class="topCategoryDiv" style="display:grid;" id="divTopCategory_99193">
                                    @*onclick="showMainView('99193')"*@
                                    <div style="text-align:center;">
                                        <img src="~/images/Catalog/Categories/New/Europe_TiresAndRims.png" alt="Шины и диски" class="TopCategoryImage" />
                                    </div>
                                    <div class="manufactureTextTop">
                                        <span>Шины и диски</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="inline-block">
                            <a href="/topcategory/18554">
                                <div class="topCategoryDiv" style="display:grid;" id="divTopCategory_18554">
                                    @*onclick="showMainView('18554')"*@
                                    <div style="text-align:center;">
                                        <img src="~/images/Catalog/Categories/New/Europe_Tools.png" alt="Инструменты и оборудование" class="TopCategoryImage" />
                                    </div>
                                    <div class="manufactureTextTop">
                                        <span>Инструменты и оборудование</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div>
                    @*CAR MANUFACTURE TREE*@
                    <div id="divCarManufactures">
                        @Html.Partial(@Model.ViewName, @Model)
                    </div>
                </div>
            </td>
        </tr>
        @*<tr>
                <td colspan="2" style="padding: 3% 10%; background: #504593; border-top: 1px solid #dcdeff;">
                    @Html.Partial("_CarModelsSimple", @Model)
                </td>
            </tr>*@
        <tr>
            <td colspan="2" style="background: #504593; border-top: 1px solid #dcdeff;padding:20px;">
                <div style="color: white;word-break:break-word;padding:30px 10px 0px 10px;white-space:pre-line;">
                    Европейские авторазборки в интернет магазине <a style="color:white;text-decoration:underline;" href="https://www.bi-bi.com.ua">https://www.bi-bi.com.ua</a> - помогают автовладельцам, решить многие проблемы в кратчайшие сроки!

                    Европейская сеть авторазборок, с быстрым поиском запчастей в Украине!

                    Купить авто запчасти 30 000 000 + новые и бывшие в употреблении б/у и восстановленные, в интернет магазине <a style="color:white;text-decoration:underline;" href="https://www.bi-bi.com.ua">https://www.bi-bi.com.ua</a>.
                    Торговая платформа <a style="color:white;text-decoration:underline;" href="https://www.bi-bi.com.ua">https://www.bi-bi.com.ua</a> с удобным интерфейсом, предлагает владельцам автотранспорта, подобрать запчасти на любой вид транспорта,
                    в одном окне на: легковые, автобусы, грузовые, спецтехнику, сельхозтехнику, строительную технику, мотоциклы, велосипеды, мопеды, квадроциклы, шины, диски, аксессуары, масла, аккумуляторы, авто химия, оборудование для СТО и многое другое.
                    Наши предложения зависят не только от спроса, но и от качества обслуживания.


                    МЫ ПРЕДЛАГАЕМ
                    Более 2 тыс.поставщиков из Литвы, Польши, Германии, Голландии, Франции, Бельгии, Америки, Канады, Кореи, и др.
                    Профессиональная помощь в подборе
                    Предоставляем характеристики и техническое описание авто деталей
                    Прилагаем фото авто деталей
                    Доставка из Европы в Украину от 2 до 5 дней
                    Доставка по Украине от 3 часов
                    Доставка на почтовые отделения + адресная
                    Возврат замена товара согласно закону Украины
                    Гарантийный срок установки 21 день
                    Посетителям и клиентам интернет магазина <a style="color:white;text-decoration:underline;" href="https://www.bi-bi.com.ua">https://www.bi-bi.com.ua</a>  желаем хорошего настроения и меньше поломок любимого автомобиля!
                </div>
                <div style="text-align: center; font-size: 24px; padding: 20px 0px;color:white;">Работаем по всей Украине</div>
                <div style="color: white; text-align: center; font-size: 16px; padding: 10px; border-bottom: 1px solid white; border-top: 1px solid white;"><a style="color:white;text-decoration:underline;" href="https://www.bi-bi.com.ua">https://www.bi-bi.com.ua</a> Авторазборка Шрот Купить Запчасти б/у новые легковые грузовые бусы мотоциклы Шины Диски Инструменты Оборудование для СТО Мото Аксессуары</div>
                <div style="text-align:left;">
                    @foreach (var item in @Model.AdvertCities)
                    {
                        <div class="advertCities">
                            @item.ToString()
                        </div>
                    }
                </div>
                <div onclick="showHideAutoParts()" class="footerMainBlock">Авторазборка все запчасти</div>
                <div class="divAllParts">
                    @foreach (var cat in Model.ProductCategoryList)
                    {
                        <a href="/Models/ManufactureModelView/@cat.CategoryId/@cat.Name["ru"]" class="treeMainCategory" id="@String.Format("divMainCat{0}", cat.CategoryId)">@cat.Name["ru"]</a>
                        @if (@cat.Children != null)
                        {
                            <div style="padding:0 5%;">
                                @foreach (var subCat in @cat.Children)
                                {
                                    @if (@subCat.Name["ru"] != "Сборные детали" && @subCat.Name["ru"] != "Другое" && @subCat.Name["ru"] != "Другие")
                                    {
                                        <a href="/Models/ManufactureModelView/@subCat.CategoryId/@subCat.Name["ru"]" class="treeSubCategory" id="@String.Format("divSubCat{0}", subCat.CategoryId)">@subCat.Name["ru"]</a>
                                    }
                                    @if (@subCat.Children != null)
                                    {
                                        @foreach (var subchildCat in @subCat.Children)
                                        {
                                            @if (subchildCat.Name["ru"] != "Сборные детали" && subchildCat.Name["ru"] != "Другое" && subchildCat.Name["ru"] != "Другие")
                                            {
                                                <a href="/Models/ManufactureModelView/@subchildCat.CategoryId/@subchildCat.Name["ru"]" class="treeSubCategory" id="topSubchild">@subchildCat.Name["ru"]</a>
                                            }
                                            @if (@subchildCat.Children != null)
                                            {
                                                @foreach (var lastCat in @subchildCat.Children)
                                                {
                                                    @if (lastCat.Name["ru"] != "Сборные детали" && lastCat.Name["ru"] != "Другое" && lastCat.Name["ru"] != "Другие")
                                                    {
                                                        <a href="/Models/ManufactureModelView/@lastCat.CategoryId/@lastCat.Name["ru"]" class="treeSubCategory" id="lastId">@lastCat.Name["ru"]</a>
                                                    }
                                                }
                                            }
                                        }
                                    }

                                }
                            </div>
                        }
                    }
                </div>

                <div style="color:white;">
                    <div class="footerMainBlock" onclick="showHidePopularNumbers()">Популярные номера</div>
                    @foreach (var item in @Model.PartNumbersRandom)
                    {
                        <a href="/search/@item.ToString()" target="_self" class="partNumbersRandom" id="divPartNumbersItem">@item.ToString()</a>
                    }
                </div>
            </td>
        </tr>
    </table>
</body>

</html>