@model WebApplication.Models.RightTreeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>

<html>
<head>
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1" />
    <style>
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            if (window.location.toString().includes("carManufactureName"))
            {
                var url = window.location.search;
                var params = new window.URLSearchParams(url.replace(/&amp;/g, '&'));
                var carManufactureName = params.get('carManufactureName');
                var kioskId = params.get('kioskId');
                var carModel = params.get('carModel');
                var mainCategoryUrl = params.get('mainCategoryUrl');
                if (carManufactureName != null && carModel == null || carManufactureName != '' && carModel == '') {
                    selectManufacturer(carManufactureName, kioskId);
                }
                var mainCategoryId = params.get('mainCategoryId');
                if (carManufactureName != null && carModel != null && mainCategoryId == null || carManufactureName != '' && carModel != '' && mainCategoryId == '') {
                    selectCarModel(carManufactureName, carModel, null, kioskId, mainCategoryUrl);
                }
                var mainCategoryName = params.get('mainCategoryName');
                var subCategoryId = params.get('subCategoryId');                
                var subCategoryName = params.get('subCategoryName');
                var subChildId = params.get('subChildId');
                var subChildName = params.get('subChildName');
                if (carManufactureName != null && carModel != null && mainCategoryId != null && subCategoryId == null || carManufactureName != '' && carModel != '' && mainCategoryId != '' && subCategoryId == '') {
                    selectMainCategory(carManufactureName, carModel, mainCategoryId, mainCategoryName, kioskId, mainCategoryUrl);
                }
                if (subChildId == null && subChildName == null || subChildId == '' && subChildName == '') {
                    selectSubMainCategory(carManufactureName, carModel, mainCategoryId, mainCategoryName, subCategoryId, subCategoryName, kioskId, mainCategoryUrl);
                }
                else {
                    getAllegroData(carManufactureName, carModel, mainCategoryId, mainCategoryName, subCategoryId, subCategoryName, subChildId, subChildName, kioskId, mainCategoryUrl);
                }
            }
            if (params.get('partNumber') != null || params.get('partNumber') != '') {
                $("#inputPartValue").val(params.get('partNumber'));
                submit();
            }
        });
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return typeof sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
            return false;
        };
        function submit() {
            $('#divSelectTopCategory').hide();
            $('#divCarManufactures').empty();
            $('#divCarManufactures').html('<div style="text-align: center; padding-top: 30%; display: block;"><img src="/images/load.gif" width="100px" /></div>');
        $.ajax({
            type: "GET",
            url: '@Url.Action("PartNumberInput", "Home")' + "?partNumber=" + $("#inputPartValue").val(),
            success: function (data) {
                $('#divCarManufactures').empty();
                $('#divCarManufactures').html(data);
            }
        });
        }
        function topCategorySelected() {
            ViewData["Title"] = "Home Page";
        }
        function back(categoryTop) {
            showMainView(categoryTop);
            $("input#inputPartValue").val("");
            $('#divSearchByPartNumber').show();
            $('#divBreadcrumbs').hide();
            $('#divSelectTopCategory').show();
        }
        function BreadCrumbsHistory(manufacture, model, mainCategoryId, mainCategoryName, subCategoryId, subCategoryName, subChildId, subChildName, modification, kioskId, mainCategoryUrl) {
            $('#divBreadcrumbsItems').empty();
            $('#divBreadcrumbs').show();
            $('#divSearchByPartNumber').hide();
            $('#divSelectTopCategory').hide();
            if (manufacture != null && manufacture != "") {
                $('#divBreadcrumbsItems').append(`<div id="divBreadcrumbsManufacture" onclick="selectManufacturer('${manufacture}', '${kioskId}')"><div class="parentDivBreadCrumbs">
                <div class="divCarModelsBlock"><img src="/images/Catalog/Model_Logo/${manufacture}.png" class="manufactureImageBreadcrumbs" /></div></div></div>`);
            }
            if (modification != null && modification != "") {
                if (model != null && model != "") {

                    $('#divBreadcrumbsItems').append(`<div id="divBreadcrumbsModel" class="parentDivBreadCrumbs" onclick="selectCarModel('${manufacture}', '${model}', null, '${kioskId}', '${mainCategoryUrl}')" style="display:grid;">
                <div class="breadcrumbsStyle1"><img src="/images/Catalog/CarModel/${manufacture}/${model}.png" class="manufactureImageBreadcrumbs" /></div><div class="manufactureTextBreadcrumbs"><span style="color:black;">${modification}</span>
                            </div></div>`);
                }
            }
            else {
                if (model != null && model != "") {

                    $('#divBreadcrumbsItems').append(`<div id="divBreadcrumbsModel" class="parentDivBreadCrumbs" onclick="selectCarModel('${manufacture}', '${model}', null, '${kioskId}', '${mainCategoryUrl}')" style="display:grid;">
                <div class="breadcrumbsStyle1"><img src="/images/Catalog/CarModel/${manufacture}/${model}.png" class="manufactureImageBreadcrumbs" /></div><div class="manufactureTextBreadcrumbs"><span style="color:black;">${model}</span>
                            </div></div>`);
                }
            }
            if (mainCategoryName != null) {
                $('#divBreadcrumbsItems').append(`<div id="divBreadcrumbsMainCategory" class="parentDivBreadCrumbs" onclick="selectMainCategory('${manufacture}', '${model}', '${mainCategoryId}', '${mainCategoryName}', '${kioskId}', '${mainCategoryUrl}')" style="display:grid;">
                <div class="breadcrumbsStyle2"><img src="${mainCategoryUrl}" class="manufactureImageCategoryBreadcrumbs" /></div><div class="manufactureTextBreadcrumbs"><span style="color:black;">${mainCategoryName}</span>
                            </div></div>`);
            }
            if (subCategoryName != null) {
                $('#divBreadcrumbsItems').append(`<div id="divBreadcrumbsSubCategory" class="parentDivBreadCrumbs" onclick="selectSubMainCategory('${manufacture}', '${model}', '${mainCategoryId}', '${mainCategoryName}', '${subCategoryId}', '${subCategoryName}', '${kioskId}', '${mainCategoryUrl}')" style="display:grid;">
                <div class="breadcrumbsStyle2"><img src="/images/Catalog/AutoParts/${subCategoryId}.png" class="manufactureImageCategoryBreadcrumbs" /></div><div class="manufactureTextBreadcrumbs"><span style="color:black;">${subCategoryName}</span>
                            </div></div>`);
            }
            if (subChildName != null) {
                $('#divBreadcrumbsItems').append(`<div id="divBreadcrumbsSubChildCategory" class="parentDivBreadCrumbs" style="display:grid;">
                <div class="breadcrumbsStyle2"><img src="/images/Catalog/AutoParts/${subChildId}.png" class="manufactureImageCategoryBreadcrumbs" /></div><div class="manufactureTextBreadcrumbs"><span style="color:black;">${subChildName}</span>
                            </div></div>`);
            }
        }
        function onAjaxFailure(xhr, status, error) {
            $("#targetElement").html("<strong>An error occurred retrieving data:" + error + "<br/>.</strong>");
        }
        function onAjaxSuccess(data, status, xhr) {
            if (!$.trim(data)) {
                $("#targetElement").html("<div class='text-center'><strong>No results found for search.</strong></div>");
            }
        }
    function selectCarModel(manufacture, model, modification, kioskId, mainCategoryUrl) {
        $('#divSelectTopCategory').hide();
        $.ajax({
            type: "GET",
            url: '@Url.Action("ShowCategoryAutoParts", "Home")' + "?carManufactureName=" + manufacture + "&carModel=" + model + "&mainCategoryUrl=" + mainCategoryUrl,
            success: function (data) {
                if (model != "" && model != null) {
                    if (modification != null && modification != "") {
                        BreadCrumbsHistory(manufacture, model, null, null, null, null, null, null, modification, kioskId, mainCategoryUrl);
                    }
                    else {
                        BreadCrumbsHistory(manufacture, model, null, null, null, null, null, null, null, kioskId, mainCategoryUrl);
                    }
                }
                $('#divCarManufactures').empty();
                $('#divCarManufactures').html(data);
                if (model != "" && model != null) {
                    window.history.pushState($('#filter'), 'title', "?carManufactureName=" + manufacture + "&carModel=" + model + "&kioskId=" + kioskId + "&mainCategoryUrl=" + mainCategoryUrl);
                }
                else {
                    $('#divBreadcrumbs').hide();
                    $('#divSearchByPartNumber').show();
                    $('#divSelectTopCategory').show();
                }
            }
        });
        return false;
        }
        function selectCarModifications(carManufactureName, model, kioskId) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("SelectModelModifications", "Home")' + "?carManufactureName=" + carManufactureName + "&model=" + model,
            success: function (data) {
                if (model != "" && model != null) {
                    BreadCrumbsHistory(carManufactureName, model, null, null, null, null, null, null, null, kioskId);
                }
                $('#divCarManufactures').empty();
                $('#divCarManufactures').html(data);
                if (carManufactureName != "" && carManufactureName != null) {
                    window.history.pushState($('#filter'), 'title', "?carManufactureName=" + carManufactureName + "&model=" + model + "&kioskId=" + kioskId);
                }
                else {
                    $('#divBreadcrumbs').hide();
                    $('#divSearchByPartNumber').show();
                    $('#divSelectTopCategory').show();
                    $('div[id*="divTopCategory_"]').removeClass("selected");
                    $('#divTopCategory_620').addClass("selected");
                }
            }
        });
        return false;
        }
        function selectMainCategory(manufacture, model, mainCategoryId, mainCategoryName, kioskId, mainCategoryUrl) {
        $('#divSelectTopCategory').hide();
        $.ajax({
            type: "GET",
            url: '@Url.Action("ShowMainSubcategories", "Home")' + "?carManufactureName=" + manufacture + "&carModel=" + model + "&mainCategoryId=" + mainCategoryId + "&mainCategoryName=" + mainCategoryName + "&mainCategoryUrl=" + mainCategoryUrl,
            success: function (data) {
                BreadCrumbsHistory(manufacture, model, mainCategoryId, mainCategoryName, null, null, null, null, null, kioskId, mainCategoryUrl);
                $('#divCarManufactures').empty();
                $('#divCarManufactures').html(data);
                window.history.pushState($('#filter'), 'title', "?carManufactureName=" + manufacture + "&carModel=" + model + "&mainCategoryId=" + mainCategoryId + "&mainCategoryName=" + mainCategoryName + "&kioskId=" + kioskId + "&mainCategoryUrl=" + mainCategoryUrl);
            }
        });
    }
        function selectSubMainCategory(manufacture, model, mainCategoryId, mainCategoryName, subCategoryId, subCategoryName, kioskId, mainCategoryUrl) {
            $('#divCarManufactures').empty();
            $('#divCarManufactures').html('<div style="text-align: center; padding-top: 30%; display: block;"><img src="/images/load.gif" width="100px" class="loadGif" /></div>');

        $('#divSelectTopCategory').hide();
        $.ajax({
            type: "GET",
            url: '@Url.Action("ShowMainSubChildsCategories", "Home")' + "?carManufactureName=" + manufacture + "&carModel=" + model + "&mainCategoryId=" + mainCategoryId + "&mainCategoryName=" + mainCategoryName +
                "&subCategoryId=" + subCategoryId + "&subCategoryName=" + subCategoryName + "&mainCategoryUrl=" + mainCategoryUrl,
            success: function (data) {
                console.log("start");
                BreadCrumbsHistory(manufacture, model, mainCategoryId, mainCategoryName, subCategoryId, subCategoryName, null, null, null, kioskId, mainCategoryUrl);
                $('#divCarManufactures').empty();
                $('#divCarManufactures').html(data);
                window.history.pushState($('#filter'), 'title', "?carManufactureName=" + manufacture + "&carModel=" + model + "&mainCategoryId=" + mainCategoryId + "&mainCategoryName=" + mainCategoryName +
                    "&subCategoryId=" + subCategoryId + "&subCategoryName=" + subCategoryName + "&kioskId=" + kioskId + "&mainCategoryUrl=" + mainCategoryUrl);
            }
        });
    }
        function getAllegroData(manufacture, model, mainCategoryId, mainCategoryName, subCategoryId, subCategoryName, subChildId, subChildName, kioskId, mainCategoryUrl) {
            $('#divSelectTopCategory').hide();
            $('#divCarManufactures').empty();
            $('#divCarManufactures').html('<div style="text-align: center; padding-top: 30%; display: block;"><img src="/images/load.gif" class="loadGif" width="100px" /></div>');
        $.ajax({
            type: "GET",
            url: '@Url.Action("ShowProductList", "Home")' + "?carManufactureName=" + manufacture + "&carModel=" + model + "&mainCategoryId=" + mainCategoryId + "&mainCategoryName=" + mainCategoryName +
                "&subCategoryId=" + subCategoryId + "&subCategoryName=" + subCategoryName + "&subChildId=" + subChildId + "&subChildName=" + subChildName + "&mainCategoryUrl=" + mainCategoryUrl,
            success: function (data) {
                BreadCrumbsHistory(manufacture, model, mainCategoryId, mainCategoryName, subCategoryId, subCategoryName, subChildId, subChildName, null, kioskId, mainCategoryUrl);
               $('#divCarManufactures').empty();
                $('#divCarManufactures').html(data);
                window.history.pushState($('#filter'), 'title', "?carManufactureName=" + manufacture + "&carModel=" + model + "&mainCategoryId=" + mainCategoryId + "&mainCategoryName=" + mainCategoryName +
                    "&subCategoryId=" + subCategoryId + "&subCategoryName=" + subCategoryName + "&subChildId=" + subChildId + "&subChildName=" + subChildName + "&kioskId=" + kioskId + "&mainCategoryUrl=" + mainCategoryUrl);
            }
        });
    }
        function FilteredList(state, sorting, page, position, isorigin, enginetype, transmissionType, tiresQuantity, tiresWidth, tiresHeight, tiresRSize) {
            $('#divCarManufactures').empty();
            $('#divCarManufactures').html('<div style="text-align: center; padding-top: 30%; display: block;"><img src="/images/load.gif" class="loadGif" width="100px" /></div>');
            $.ajax({
                type: "GET",
                url: '@Url.Action("FilteredList", "Home")' + "?state=" + state + "&sorting=" + sorting + "&page=" + page + "&position=" + position + "&isorigin=" + isorigin + "&enginetype=" + enginetype + "&transmissionType=" + transmissionType +
                    "&tiresQuantity=" + tiresQuantity + "&tiresWidth=" + tiresWidth + "&tiresHeight=" + tiresHeight + "&tiresRSize=" + tiresRSize,
            success: function (data) {
               $('#divCarManufactures').empty();
                $('#divCarManufactures').html(data);
            }
        });
        }

    function selectManufacturer(carManufactureName, kioskId) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("SelectManufactureAndModel", "Home")' + "?carManufactureName=" + carManufactureName,
            success: function (data) {
                if (carManufactureName != "" && carManufactureName != null) {
                    BreadCrumbsHistory(carManufactureName, null, null, null, null, null, null, null, null, kioskId);
                }
                $('#divCarManufactures').empty();
                $('#divCarManufactures').html(data);
                if (carManufactureName != "" && carManufactureName != null) {
                    window.history.pushState($('#filter'), 'title', "?carManufactureName=" + carManufactureName + "&kioskId=" + kioskId);
                }
                else {
                    $('#divBreadcrumbs').hide();
                    $('#divSearchByPartNumber').show();
                    $('#divSelectTopCategory').show();
                    $('div[id*="divTopCategory_"]').removeClass("selected");
                    $('#divTopCategory_620').addClass("selected");
                }
            }
        });
        return false;
        }

        function goToCart(selectedProductId, kioskId) {
            window.open('/Product/CartView/' + "?selectedProductId=" + selectedProductId + "&kioskId=" + kioskId);
        }
        function showMainView(topCategoryId) {
            $('div[id*="divTopCategory_"]').removeClass("selected");
            $('#divTopCategory_' + topCategoryId).addClass("selected");
        $.ajax({
            type: "GET",
            url: '@Url.Action("ShowMainView", "Home")' + "?topCategoryId=" + topCategoryId,
            success: function (data) {
                $('#divCarManufactures').empty();
                $('#divCarManufactures').html(data);
            }
        });
        }
    </script>
</head>
<body>
    <table style="min-height: 100%;height:100%;;min-width:100%;">
        <tr>
            @*LEFT PANEL*@
            <td class="leftIndexPanel">
                <div id="divSearchByPartNumber">
                    <img src="~/images/Catalog/LoupeBackground1.png" style="margin-top:25%" id="imgLoopBack" />
                    @*FIND DETAIL BY INPUT SEARCH*@
                    <div class="inputSearchTopText">
                        <div class="inputInsideBlock">
                            <span>Найдите деталь <br> по </span><span class="inputSearchBottomText">номеру или названию запчасти</span>
                        </div>
                    </div>
                    <div>
                        <div class="inputControlBlock">
                            <div style="display:inline-block;vertical-align:middle;width:85%;">@Html.TextBoxFor(m => m.PartNumberValue, new { @placeholder = "Что Вы ищете?", @id = "inputPartValue", @class = "inputPart" })</div>
                            <div class="loopBtn" onclick="submit()"><img class="loopImgPadding" src="~/images/Catalog/InputLoupe.png"></div>
                        </div>
                    </div>
                </div>
                @*START BREADCRUMBS BLOCK*@
                <div id="divBreadcrumbs" style="display:none;text-align:center;">
                    <div class="breadcrumbTitle">Вы выбрали:</div>
                    <div id="divBreadcrumbsItems" style="margin:0% 30%;">
                    </div>
                </div>
                @*END BREADCRUMBS BLOCK*@
            </td>



            @*RIGHT PANEL*@
            <td class="rightIndexPanel">
                @*SELECT TOP CATEGORY PANEL*@
                <div id="divSelectTopCategory">
                    <div class="mainBlockTitle">Выберите раздел</div>
                    <div class="divSelectTopCategoryBlock">
                        <div class="inline-block">
                            <div class="topCategoryDiv selected" style="display:grid;" id="divTopCategory_620" onclick="showMainView('620')">
                                <div style="text-align:center;">
                                    <img src="~/images/Catalog/Categories/New/Europe_CarTruckParts.png" class="TopCategoryImage" />
                                </div>
                                <div class="manufactureTextTop">
                                    <span>Легковые и микроавтобусы</span>
                                </div>
                            </div>
                        </div>
                        <div class="inline-block">
                            <div class="topCategoryDiv" style="display:grid;" id="divTopCategory_621" onclick="showMainView('621')">
                                <div style="text-align:center;">
                                    <img src="~/images/Catalog/Categories/New/Europe_TruckParts.png" class="TopCategoryImage" />
                                </div>
                                <div class="manufactureTextTop">
                                    <span>Грузовые</span>
                                </div>
                            </div>
                        </div>
                        <div class="inline-block">
                            <div class="topCategoryDiv" style="display:grid;" id="divTopCategory_622" onclick="showMainView('622')">
                                <div style="text-align:center;">
                                    <img src="~/images/Catalog/Categories/New/Europe_BusParts.png" class="TopCategoryImage" />
                                </div>
                                <div class="manufactureTextTop">
                                    <span>Автобусы</span>
                                </div>
                            </div>
                        </div>
                        <div class="inline-block">
                            <div class="topCategoryDiv" style="display:grid;" id="divTopCategory_99022" onclick="showMainView('99022')">
                                <div style="text-align:center;">
                                    <img src="~/images/Catalog/Categories/New/CarType_Special.png" class="TopCategoryImage" />
                                </div>
                                <div class="manufactureTextTop">
                                    <span>Спецтехника</span>
                                </div>
                            </div>
                        </div>
                        <div class="inline-block">
                            <div class="topCategoryDiv" style="display:grid;" id="divTopCategory_156" onclick="showMainView('156')">
                                <div style="text-align:center;">
                                    <img src="~/images/Catalog/Categories/New/CarType_Moto.png" class="TopCategoryImage" />
                                </div>
                                <div class="manufactureTextTop">
                                    <span>Мото и аксессуары</span>
                                </div>
                            </div>
                        </div>
                        <div class="inline-block">
                            <div class="topCategoryDiv" style="display:grid;" id="divTopCategory_99193" onclick="showMainView('99193')">
                                <div style="text-align:center;">
                                    <img src="~/images/Catalog/Categories/New/Europe_TiresAndRims.png" class="TopCategoryImage" />
                                </div>
                                <div class="manufactureTextTop">
                                    <span>Шины и диски</span>
                                </div>
                            </div>
                        </div>
                        <div class="inline-block">
                            <div class="topCategoryDiv" style="display:grid;" id="divTopCategory_18554" onclick="showMainView('18554')">
                                <div style="text-align:center;">
                                    <img src="~/images/Catalog/Categories/New/Europe_Tools.png" class="TopCategoryImage" />
                                </div>
                                <div class="manufactureTextTop">
                                    <span>Инструменты и оборудование</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*CAR MANUFACTURE TREE*@
                <div id="divCarManufactures">
                    @Html.Partial("_CarTree", @Model)
                </div>
            </td>
        </tr>
    </table>
</body>
</html>