@model IList<WebApplication.Classes.CartProduct>
@{
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    @foreach (var item in Model)
    {
        <div style="background: white; padding: 10px; margin: 10px 20px; border: 1px solid #c1c1c1; border-left: 4px solid blue;min-height:180px;max-height:180px;">

            <div class="inline-block" style="width:15%;">
                <div id="imageBlock" class="detailBlock" style="text-align:center;background:white;">
                    <a href=@item.Product.Photos[0].Url data-fancybox="@String.Format("gallery{0}", item.Product.Key)" class="noneDecoration">
                        <img id="mainImageProduct" src="@item.Product.Photos[0].Url" style="max-width:100%;max-height:160px;" />
                    </a>
                    <div style="display:none;">
                        @foreach (var photo in @item.Product.Photos)
                        {
                            @if (@photo.Url != @item.Product.Photos[0].Url)
                            {
                                <a href=@photo.Url data-fancybox="@String.Format("gallery{0}", item.Product.Key)" class="noneDecoration">
                                    <img src=@photo.Url class="smallPhotoes">
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
            <div style="vertical-align: top; font-weight: bold; font-size: 18px; padding-left: 20px;display:inline-block;">@item.Product.Name.Last().Value</div>
            <div class="inline-block" style="float:right;border-left: 1px solid #c3c4c5; padding: 0px 30px;">
                <div style="color: #e87619;font-weight:bold;">
                    <span style="font-size:32px;">@item.Product.Price</span>
                    <span style="font-size:18px;">@item.Product.PriceCurrencyCode</span>
                    <p id="priceComment" style="color:#6c7096;font-size:14px;font-weight:normal;margin-bottom:0px;">доставка в Украину <br /> 2-5 дней</p>
                </div>
                <div style="padding:4px 0px;">
                    <span>
                        <input type="number" id="@item.Product.SourceId" value="@item.Quantity" class="cartQuantity" />
                    </span>
                    <span>
                        <a class="quantityBtn" onclick="refreshCartItem('@item.Product.SourceId')">Оновити к-ть</a>
                    </span>
                </div>
                <div onclick="deleteProduct('@item.Product.SourceId')">
                    <button class="btnDeleteCartItem">
                        <img src="~/images/Cart/Delete.png" />
                        <span>Видалити</span>
                    </button>
                </div>
            </div>
        </div>
    }
    <script>
        function refreshCartItem(idControl) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("EditCartItemQuantity", "Product")' + "?cartItemId=" + idControl + "&quantity=" + $("#" + idControl).val(),
                success: function (data) {
                    $('#divCartViewControl').empty();
                    $('#divCartViewControl').html(data);
                    $("#cartWidgetPrice").text($("#mainCartTotalPrice").text());
                }
            });
    }
    function deleteProduct(idControl) {

        $.ajax({
                type: "GET",
                url: '@Url.Action("DeleteProductFromCart", "Product")' + "?cartItemId=" + idControl,
            success: function (data) {
                $('#divCartViewControl').empty();
                $('#divCartViewControl').html(data);

                $("#cartWidgetPrice").text($("#mainCartTotalPrice").text());
                //if (data.is("#emptyCart")) {
                //    $("#cartWidgetEmpty").show();
                //    $("#cartWidgetValue").hide();
                //}
                }
            });
    }
    </script>
</body>
</html>
