@model IList<WebApplication.Classes.CartProduct>
@{
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <div style="text-align:center;">
        <h3>У Вас в корзині</h3>
    </div>
    @foreach (var item in Model)
    {
        <div style="background: white; padding: 10px; margin: 45px 20px 20px 0px; border: 1px solid #c1c1c1; border-left: 4px solid blue;min-height:120px;max-height:120px;">
            <div class="row">
                <div class="col-lg-2">
                    <div id="imageBlock" class="detailBlock" style="text-align:center;background:white;">
                        <a href=@item.Product.Photos[0].Url data-fancybox="@String.Format("gallery{0}", item.Product.Key)" class="noneDecoration">
                            <img id="mainImageProduct" src="@item.Product.Photos[0].Url" style="max-width:100%;max-height:160px;" />
                        </a>
                        <div style="display:none;">
                            @foreach (var photo in @item.Product.Photos)
                            {
                                @if (@photo.Url != @item.Product.Photos[0].Url)
                                {
                                    <a href=@photo.Url data-fancybox="@String.Format("gallery{0}", item.Product.Key)" class="noneDecoration">
                                        <img src=@photo.Url class="smallPhotoes">
                                    </a>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div style="vertical-align: top;" class="col-lg-7"><span class="productTitle">@item.Product.Name.Last().Value</span></div>
                <div class="col-lg-3" style="float:right;border-left: 1px solid #c3c4c5; padding: 0px 30px;">
                    <table style="width:100%;">
                        <tr>
                            <td>

                                <div style="color: #e87619;font-weight:bold;">
                                    <span style="font-size:32px;">@item.Product.Price</span>
                                    <span style="font-size:18px;">@item.Product.PriceCurrencyCode</span>
                                </div>
                            </td>
                            <td>
                                <div onclick="deleteProduct('@item.Product.SourceId')">
                                    <button class="btnDeleteCartItem" style="border:0px;">
                                        <img src="~/images/Cart/Delete.png" />
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    }
<div style="text-align:center;">
    <label id="mainCartTotalPrice" style="font-size:22px;font-weight:normal;">
     Загальна сума:
        @if (@ViewData["CartWidgetPrice"] == null)
        {<span>0</span> }
        else
        {@ViewData["CartWidgetPrice"]}
    </label><label style="font-size:18px;"> грн</label>
</div>
    <script>
        function refreshCartItem(idControl) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("EditCartItemQuantity", "Product")' + "?cartItemId=" + idControl + "&quantity=" + $("#" + idControl).val(),
                success: function (data) {
                    $('#divCartViewControl').empty();
                    $('#divCartViewControl').html(data);
                    $("#cartWidgetPrice").text($("#mainCartTotalPrice").text());
                }
            });
    }
    function deleteProduct(idControl) {

        $.ajax({
                type: "GET",
                url: '@Url.Action("DeleteProductFromCart", "Product")' + "?cartItemId=" + idControl,
            success: function (data) {
                $('#divCartViewControl').empty();
                $('#divCartViewControl').html(data);

                $("#cartWidgetPrice").text($("#mainCartTotalPrice").text());
                //if (data.is("#emptyCart")) {
                //    $("#cartWidgetEmpty").show();
                //    $("#cartWidgetValue").hide();
                //}
                }
            });
    }
    </script>
</body>
</html>
