@model IList<WebApplication.Classes.CartProduct>
@{
    Layout = null;
}
<table style="min-height: 100vh;min-width:100%;">
    <tr>
        <td style="vertical-align:top;padding-right:4%;">
            <div style="background:#514593;width:100%;text-align:center;padding:60px 0px;">
                <span style="color:white;font-size:30px;">У Вас в кошику</span>
                <div style="padding:50px 0px;">

                    @if (Model != null)
                    {
                        @foreach (var item in @Model)
                        {
                            <div style="padding:15px 10px;">
                                <div class="inline-block"><img src="~/images/CartWidgetEmpty.png"></div>
                                <div class="inline-block">
                                    <label style="font-size:21px;color:white;">
                                        @item.Product.Name.Last().Value (@item.Product.Price грн.)
                                    </label>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div style="background:#635aa0;height:1px;width:100%;margin-top:15px;"></div>
                <div style="color:white;">
                    <label id="mainCartTotalPrice" style="font-size:68px;">
                        @if (@ViewData["CartWidgetPrice"] == null)
                        {<span>0</span> }
                        else
                        {@ViewData["CartWidgetPrice"]}
                    </label><label style="font-size:39px;">грн</label>
                </div>

            </div>
        </td>
        <td class="rightIndexPanel" style="width:60%;">
            <div style="background:#DCDEFF;">
                @if (Model == null || Model.Count == 0)
                {<div id="emptyCart" style="width: 100%; font-size: 30px; text-align: center; padding: 30% 30% 0 30%; font-weight: bold; color: #504593;"> Корзина пуста</div> }
                else
                {
                    @Html.Partial("_CartListItem", Model)
                }
                <table style="width:100%;margin-top:80px;">
                    <tr>
                        <td style="padding:0px 20px;">
                            <div id="continueBtn" class="inline-block" style="width:100%;">
                                <div onclick="backToProductList()">
                                    <button class="btnBuyNew">
                                        <span>Продовжити покупки</span>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td style="padding:0px 20px;">
                            @if (Model.Count > 0)
                            {
                                <div id="buyBtn" class="inline-block" style="width:100%;">
                                    <form action="@Url.Action("Delivery")">
                                        <button class="btnBuyNew">
                                            <span>Оформити замовлення</span>
                                        </button>
                                    </form>
                                </div>
                            }
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>