@model IList<WebApplication.Classes.CartProduct>
@{
    Layout = null;
}
<table id="tblCartViewInnder" style="min-width:100%;">
    <tr>
        <td style="vertical-align:top;padding-right:4%;min-height: 100%; height:100%;" class="leftCartColumn">
            <div style="background:#514593;width:100%;text-align:center;padding:60px 0px;min-height: 100%; height:100%;" class="cartBlockMain">
                <span style="color:white;font-size:30px;" class="cartTitle">У Вас в корзине</span>
                <div style="padding:50px 0px;" class="cartProductsPadding">

                    @if (Model != null)
                    {
                    @foreach (var item in @Model)
                        {
                    <div style="padding:15px 10px;">
                        <div class="inline-block"><img src="~/images/CartWidgetEmpty.png"></div>
                        <div class="inline-block" onclick="deleteProduct('@item.Product.SourceId')">
                            <button class="btnDeleteCartItem">
                                <img src="~/images/Cart/Delete.png" />
                            </button>
                        </div>
                        <div class="inline-block">
                            <label style="font-size:21px;color:white;" class="cartTitle">
                                @item.Product.Name.Last().Value (@item.Product.FinalPrice грн.)
                            </label>
                        </div>

                    </div>
                        }
                    }
                </div>
                <div style="background:#635aa0;height:1px;width:100%;margin-top:15px;"></div>
                <div style="color:white;">
                    <label id="mainCartTotalPrice" style="font-size:68px;">
                        @if (@ViewData["CartWidgetPrice"] == null)
                        {<span>0</span> }
                        else
                        {@ViewData["CartWidgetPrice"]}
                    </label><label class="cartCurrency" style="font-size:39px;">грн</label>
                </div>

            </div>
        </td>
        <td class="rightIndexPanel" style="width:60%;">
            <div class="mainBlockTitle" style="background: #EEEFFF;">
                <div onclick="backToProductList()" style="color: white; padding: 0px 10px; font-weight: normal; cursor:pointer; border-radius: 10px; font-size: 23px; width:100px; text-transform: capitalize; background: #ff5a00;" class="cartBackBtn">
                    <span>Назад</span>
                </div>
            </div>
            
            <div style="background:#DCDEFF;">
                @if (Model == null || Model.Count == 0)
                {<div id="emptyCart" style="width: 100%; font-size: 30px; text-align: center; padding: 30% 30% 0 30%; font-weight: bold; color: #504593;"> Корзина пустая</div> }
                else
                {
                @Html.Partial("_CartListItem", Model)
                }
            <div class="priceProductComment">
                <span style="color:red;">Внимание!</span>
                Цена указана с учетом таможенного сбора, страховки и доставки.
            </div>
                @if (Model.Count > 0)
                {
                <table style="width:100%;margin-top:30px;text-align:center;" class="divCartControlButtons">
                    <tr>
                        <td style="padding:0px 20px;">
                            <div id="continueBtn" class="inline-block" style="width:100%;">
                                <div onclick="backToMainPage()">
                                    <button class="btnBuyNewCart">
                                        <span>Продолжить покупки</span>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td style="padding:0px 20px;">

                            <div id="buyBtn" class="inline-block" style="width:100%;">
                                <form action="@Url.Action("Delivery")">
                                    <button class="btnBuyNewCartOrder">
                                        <span>Оформить заказ</span>
                                    </button>
                                </form>
                            </div>

                        </td>
                    </tr>
                </table>
                <table class="garantedCardsTable">
                    <tr>
                        <td>
                            <button id='open' class="simpleBtn" data-toggle="modal" data-target="#showmodal_PopUp" data-menuitem="GarantedPayItem">
                                <div class="menuItemPic" style="max-width: 100%; width: 100%; display: block;text-align:center;"><img src="~/images/OrderAdvert/GarantedPay.png" style="max-height:100px;" /></div><div class="inline-block" style="color:#080c31;text-align:center;padding-left:10px;"><div>Безопасная покупка</div></div>
                            </button>
                        </td>
                        <td>
                            <button id='open' class="simpleBtn" data-toggle="modal" data-target="#showmodal_PopUp" data-menuitem="dostavka100Item">
                                <div class="menuItemPic" style="max-width: 100%; width: 100%; display: block;text-align:center;"><img src="~/images/OrderAdvert/dostavka100.png" style="max-height:100px;" /></div><div class="inline-block" style="color:#080c31;text-align:center;padding-left:10px;">Бесплатная доставка до 30кг</div>
                            </button>
                        </td>
                        <td>
                            <button id='open' class="simpleBtn" data-toggle="modal" data-target="#showmodal_PopUp" data-menuitem="User100Item">
                                <div class="menuItemPic" style="max-width: 100%; width: 100%; display: block;text-align:center;"><img src="~/images/OrderAdvert/User100.png" style="max-height:100px;" /></div><div class="inline-block" style="color:#080c31;text-align:center;padding-left:10px;"><div>Защита потребителя</div></div>
                            </button>
                        </td>
                    </tr>
                </table>
                }
            </div>
        </td>
    </tr>
</table>