@model WebApplication.Models.NovaPoshtaViewModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet " type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>





    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        .caret {
            display: none;
        }
    </style>

    <script type="text/javascript">

        $("option").click(function (e) {
            e.preventDefault();
            @*$.ajax({
                type: "POST",
                url:'@Url.Action("Product", "Delivery")',
                dataType: "string",
                processData: true,

                data: {
                    id: "123"
                },
                success: function (result) {
                    alert('ok');
                },
                error: function (result) {
                    alert('error');
                }
            });*@
            $.ajax({
                type: "POST",
                url:'@Url.Action("Product", "Delivery")',
                contentType: "application/json; charset=utf-8",
                //data:"",
                data: "{'id':" + JSON.stringify("123") + "}",
                dataType: "json",

                success: function (data) {
                    Disable(id, data);
                    //alert("Cool");
                }
            });
        });
        function showDeliveryFields(divName) {
            if (divName == '#nova') {
                $(divName).show();
                $('#courier').hide();

                $('#divBtnNova').addClass('selected');
                $('#divBtnCourier').removeClass('selected');
            }
            else {
                $('#nova').hide();
                $('#courier').show();

                $('#divBtnNova').removeClass('selected');
                $('#divBtnCourier').addClass('selected');

            }
        }
        function onAreaChanged() {
            var val = $('#cbArea').val();
            console.log(val);
            $.ajax({
                type: "GET",
                url: '@Url.Action("Cities", "Product")' + "?area=" + val,
                //contentType: "application/json; charset=utf-8",
                //data:"",
                //data: "{'id':" + JSON.stringify("123") + "}",
               // dataType: "json",

                success: function (data) {
                    console.log(data);
                    var cities = $('body').find("[data-id='cbCity']").closest('div').find('ul');
                    //cities.empty(); // remove any existing options
                    var sel = $('#cbCity');
                    $.each(data.cities, function (index, item) {
                        cities.append(`<li data-original-index="${index+1}"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">${item.description}</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>`);
                        sel.append(`<option value="${item.description}">${item.description}</option>`);
                    });
                    $('#cbCity').selectpicker({
                        liveSearch: true,
                        showSubtext: true
                    });
                    
                }
            });
        }

        function onCityChanged() {

            console.log($('#cbCity').val());
            
        }


    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
</head>
<body>
    <div style="color:white;">
        <form>
            <div style="display:inline-block;vertical-align:top; border-right: 1px solid white; padding-right: 20px; margin-right: 30px;">
                <div style="text-align:center;">
                    <div tabindex="1" id="divBtnNova" class="deliveryBoxDesign" onclick="showDeliveryFields('#nova')">
                        <div><img src="~/images/Delivery/NovaPoshtaUkraine.png" /></div>
                        <div style="font-size: 22px; text-align: center;">Нова Пошта</div>
                    </div>
                    <div tabindex="2" id="divBtnCourier" class="deliveryBoxDesign" onclick="showDeliveryFields('#courier')">
                        <div>
                            <img src="~/images/Delivery/Courier.png" />
                        </div>
                        <div style="font-size: 22px; text-align: center;">
                            Доставка курьером
                        </div>
                    </div>
                </div>
            </div>
            <div style="display:inline-block;vertical-align:top;padding-top:20px;">
                <input type="text" placeholder="Имя и фамилия" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" width="20%">
                <input type="text" placeholder="Мобильний номер" class="form-control" aria-label="Default" value="+38" aria-describedby="inputGroup-sizing-default" data-mask="+38 (999) 999-99-99">

                <div id="nova" style="display:none;">
                    <button id="button_1" value="Львівська" name="regionName">Львівська</button>
                    <button id="button_2" value="Закарпатська" name="regionName">Закарпатська</button>
                    @Html.DropDownListFor(model => model.SelectedArea, new SelectList(Model.Areas, "Description", "Description"), " - Choose area - ", new { @id = "cbArea", @style = "color: black;", @class = "form-control selectpicker", @onchange = "onAreaChanged()" })
                <div class="content">
                    @Html.DropDownListFor(model => model.SelectedCity, new SelectList(Model.Cities, "Description", "Description"), " - Choose city - ", new { @id = "cbCity", @style = "color: black;", @class = "form-control", @onchange = "onCityChanged()" })
                </div>

                    <select onchange="onAreaSelected" class="form-control selectpicker" id="select-country" data-live-search="true">
                        @foreach (var item in Model.Areas)
                        {
                            <option value="@item.Description" data-tokens="@item.Description">@item.Description</option>
                        }
                    </select>
                    <select class="form-control selectpicker" id="select-country" data-live-search="true">
                        @foreach (var item in Model.Cities)
                        {
                            <option data-tokens="@item.Description">@item.Description</option>
                        }
                    </select>
                    <select class="form-control selectpicker" id="select-country" data-live-search="true">
                        @foreach (var item in Model.Departments)
                        {
                            <option data-tokens="@item.Description">@item.Description</option>
                        }
                    </select>
                </div>
                <div id="courier" style="display:none;">
                    Delivery by courier
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            console.log('start');
            $('.selectpicker').selectpicker({
                liveSearch: true,
                showSubtext: true
            });
        });
    </script>
</body>

</html>
