@model WebApplication.Models.NovaPoshtaViewModel

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet " type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

    <script type="text/javascript" src="~/js/masked/jquery.maskedinput.js"></script>
    <script type="text/javascript" src="~/js/masked/jquery.maskedinput.min.js"></script>



    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        .caret {
            display: none;
        }
    </style>

    <script type="text/javascript">

function processAjax(areaVal, cityVal, cbName) {
    $.ajax({
        type: "GET",
        url: '@Url.Action("Delivery", "Product")' + "?area=" + areaVal + '&city=' + cityVal,

        success: function (data) {
            console.log(data);
            var entities = data.cities.length == 0 ? data.departments : data.cities;
            var cities = $('body').find("[data-id='" + cbName + "']").closest('div').find('ul');
            var sel = $('#' + cbName);
            //sel.html('<option value=""> - Choose - </option>');
            cities.html('<li data-original-index="0" class="selected active"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true"><span class="text"> - Choose area - </span><span class="glyphicon glyphicon - ok check - mark"></span></a></li>');
            $.each(entities, function (index, item) {
                cities.append(`<li data-original-index="${index + 1}"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">${item.description}</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>`);
                sel.append(`<option value="${item.description}">${item.description}</option>`);
            });
            sel.selectpicker({
                liveSearch: true,
                showSubtext: true
            });

        }
    });
}
function showDeliveryFields(divName) {
            if (divName == '#nova') {
                $(divName).show();
                $('#courier').hide();

                $('#divBtnNova').addClass('selected');
                $('#divBtnCourier').removeClass('selected');
            }
            else {
                $('#nova').hide();
                $('#courier').show();

                $('#divBtnNova').removeClass('selected');
                $('#divBtnCourier').addClass('selected');

            }
        }
        function onAreaChanged() {
            var val = $('#cbArea').val();
            console.log(val);
            processAjax(val, '', 'cbCity');
        }

        function onCityChanged() {
            console.log($('#cbCity').val());
            processAjax('', $('#cbCity').val(), 'cbDepartment');
        }



        function submit() {
            $.ajax({
                type: "POST",
                url:'@Url.Action("Submit", "Product")',
                //data:"",
                data: {
                    customerFullName: $('#txtFullUserName').val(),
                    customerPhoneNumber: $('#txtBuyerPhone').val(),                    
                    selectedCity: $('#cbCity').val(),
                    selectedDepartment: $('#cbDepartment').val(),
                    inputCity: $('#txtCustomCity').val(),
                    inputAddress: $('#txtCustomAddress').val(),
                },
                success: function (data) {
                    $("#deliveryControls").hide();
                    $("#divSuccessOrder").show();
                    setTimeout(function () {
                        window.location.href = '/Home/Index/';
                    }, 5000);
                    

                }
            });
        }


    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
</head>
<body>
    <div style="color:white; background: #504593; border-radius: 10px; padding: 10px;" id="deliveryControls">
        <form method="post">
            <table>
                <tr>
                    <td style="vertical-align:top; border-right: 1px solid white; padding-right: 20px; width:30%;">
                        <div style="text-align:center;">
                            <div tabindex="1" id="divBtnNova" class="deliveryBoxDesign" onclick="showDeliveryFields('#nova')">
                                <div><img src="~/images/Delivery/NovaPoshtaUkraine.png" /></div>
                                <div style="font-size: 22px; text-align: center;">Нова Пошта</div>
                            </div>
                            <div tabindex="2" id="divBtnCourier" class="deliveryBoxDesign" onclick="showDeliveryFields('#courier')">
                                <div>
                                    <img src="~/images/Delivery/Courier.png" />
                                </div>
                                <div style="font-size: 22px; text-align: center;">
                                    Доставка кур`єром
                                </div>
                            </div>
                        </div>
                    </td>
                    <td style="vertical-align:top;padding-top:20px;padding-left:20px;">
                        @Html.TextBoxFor(model => model.CustomerFullName, Model.CustomerFullName, new { @id = "txtFullUserName", @class = "form-control", @placeholder = "- Ваше ім`я та прізвище -", @style = "color: black;" })
                        @Html.TextBoxFor(model => model.CustomerPhoneNumber, Model.CustomerPhoneNumber, new { @id = "txtBuyerPhone", @class = "form-control", @maxlength = "12", @placeholder = "- Ваш мобільний номер -", @style = "color: black;" })
                        @*<input type="text" placeholder="Прізвище та ім`я" class="form-control" aria-label="Default">
                            <input type="text" placeholder="Мобільний номер" id="txtBuyerPhone" class="form-control" aria-label="Default" maxlength="12">*@

                        <div id="nova" style="display:none;padding:10px 0px;">
                            <div>Вкажіть дані відділення доставки службою Нова Пошта</div>
                            @Html.DropDownListFor(model => model.SelectedArea, new SelectList(Model.Areas, "Description", "Description"), " - Виберіть область - ", new { @id = "cbArea", @style = "color: black;width:100%;", @class = "form-control selectpicker", @onchange = "onAreaChanged()" })
                            @Html.DropDownListFor(model => model.SelectedCity, new SelectList(Model.Cities, "Description", "Description"), " - Виберіть місто - ", new { @id = "cbCity", @style = "color: black;width:100%;", @class = "form-control", @onchange = "onCityChanged()" })
                            @Html.DropDownListFor(model => model.SelectedDepartment, new SelectList(Model.Departments, "Description", "Description"), " - Виберіть відділення - ", new { @id = "cbDepartment", @style = "color: black;width:100%;", @class = "form-control" })
                            <div style="color:#ff9120;text-align:center;padding-top:20px;">При підтверджені замовлення Ви отримаєте смс на свій мобільний номер з посиланням на оплату рахунку в системі LiqPay</div>
                            <div onclick="submit()" style="text-align:center;padding:20px;color: white; font-size: 16px;">Підвтердити замовлення</div>
                        </div>
                        <div id="courier" style="display:none;padding:10px 0px;">
                            <div>Вкажіть дані для кур`єрської доставки</div>
                            @Html.TextBoxFor(model => model.CustomerFullName, Model.CustomerFullName, new { @id = "txtCustomCity", @class = "form-control", @placeholder = "- Ваше місто -", @style = "color: black;" })
                            @Html.TextBoxFor(model => model.CustomerPhoneNumber, Model.CustomerPhoneNumber, new { @id = "txtCustomAddress", @class = "form-control", @maxlength = "12", @placeholder = "- Ваша адреса -", @style = "color: black;" })
                            <div style="color:#ff9120;text-align:center;padding-top:20px;">При підтверджені замовлення Ви отримаєте смс на свій мобільний номер з посиланням на оплату рахунку в системі LiqPay</div>
                            <div onclick="submit()" style="text-align:center;padding:20px;color: white; font-size: 16px;" class="btnBuyCart">Підвтердити замовлення</div>
                        </div>

                    </td>
                </tr>
            </table>

        </form>
    </div>
    <div id="divSuccessOrder" style="width: 100%; font-size: 30px; text-align: center; padding: 0% 30% 0 30%; font-weight: bold; color: white; display:none;">
        <div><img src="~/images/ok-icon.png" style="margin:5%;" /></div><div style="margin:5%;">Дякуємо за замовлення, очікуйте смс з даними про оплату</div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#txtBuyerPhone").mask("+38 (999) 999-99-99");
            $('.selectpicker').selectpicker({
                liveSearch: true,
                showSubtext: true
            });
        });
    </script>
</body>

</html>
