@model WebApplication.Models.NovaPoshtaViewModel

<!DOCTYPE html>

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet" />
    <style>
        .caret {
            display: none;
        }
    </style>

    <script type="text/javascript">
        ("button").click(function (e) {
            e.preventDefault();
            @*$.ajax({
                type: "POST",
                url:'@Url.Action("Product", "Delivery")',
                dataType: "string",
                processData: true,

                data: {
                    id: "123"
                },
                success: function (result) {
                    alert('ok');
                },
                error: function (result) {
                    alert('error');
                }
            });*@
            $.ajax({
                type: "POST",
                url:'@Url.Action("Product", "Delivery")',
                contentType: "application/json; charset=utf-8",
                //data:"",
                data: "{'id':" + JSON.stringify("123") + "}",
                dataType: "json",

                success: function (data) {
                    Disable(id, data);
                    //alert("Cool");
                }
            });
        });
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
</head>
<body>
    <div style="color:white;">
        <div class="container">
            <form>
                <button id="button_1" value="Львівська" name="regionName">Львівська</button>
                <button id="button_2" value="Закарпатська" name="regionName">Закарпатська</button>
                <select class="form-control selectpicker" id="select-country" data-live-search="true">
                    @foreach (var item in Model.Areas)
                    {
                        <option data-tokens="@item.Description">@item.Description</option>
                    }
                </select>
                <select class="form-control selectpicker" id="select-country" data-live-search="true">
                    @foreach (var item in Model.Cities)
                    {
                        <option data-tokens="@item.Description">@item.Description</option>
                    }
                </select>
                <select class="form-control selectpicker" id="select-country" data-live-search="true">
                    @foreach (var item in Model.Departments)
                    {
                        <option data-tokens="@item.Description">@item.Description</option>
                    }
                </select>
            </form>
        </div>
    </div>
</body>
</html>
