@model WebApplication.Models.NovaPoshtaViewModel

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet " type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

    <script type="text/javascript" src="~/js/masked/jquery.maskedinput.js"></script>
    <script type="text/javascript" src="~/js/masked/jquery.maskedinput.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"
            asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
    </script>


    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        .caret {
            display: none;
        }

        .dropdown-menu.open.show {
            transform: none !important;
            min-height: 500px !important;
        }
    </style>

    <script type="text/javascript">





function processAjax(areaVal, cityVal, cbName) {
    $.ajax({
        type: "GET",
        url: '@Url.Action("Delivery", "Product")' + "?area=" + areaVal + '&city=' + cityVal,

        success: function (data) {
            console.log(data);
            var entities = data.cities.length == 0 ? data.departments : data.cities;
            var cities = $('body').find("[data-id='" + cbName + "']").closest('div').find('ul');
            var sel = $('#' + cbName);
            //sel.html('<option value=""> - Choose - </option>');
            cities.html('<li data-original-index="0" class="selected active"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true"><span class="text"> - Choose area - </span><span class="glyphicon glyphicon - ok check - mark"></span></a></li>');
            $.each(entities, function (index, item) {
                cities.append(`<li data-original-index="${index + 1}"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">${item.description}</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>`);
                sel.append(`<option value="${item.description}">${item.description}</option>`);
            });
            sel.selectpicker({
                liveSearch: true,
                showSubtext: true
            });

        }
    });
}
function showDeliveryFields(divName) {
            if (divName == '#nova') {
                $(divName).show();
                $('#courier').hide();

                $('#divBtnNova').addClass('selected');
                $('#divBtnCourier').removeClass('selected');
            }
            else {
                $('#nova').hide();
                $('#courier').show();

                $('#divBtnNova').removeClass('selected');
                $('#divBtnCourier').addClass('selected');

            }
        }
        function onAreaChanged() {
            var val = $('#cbArea').val();
            $("#validateArea").hide();
            console.log(val);
            processAjax(val, '', 'cbCity');
        }

        function onCityChanged() {
            $("#validateCity").hide();
            console.log($('#cbCity').val());
            processAjax('', $('#cbCity').val(), 'cbDepartment');
        }

        function onDepartmentChanged() {
            $("#validateDepartment").hide();
        }
        function submit() {
            console.log("submit");
            $.ajax({
                type: "POST",
                url:'@Url.Action("Order", "Product")',
                //data:"",
                data: { selectedDepartment: $('#cbDepartment').val()},
                success: function (data) {
                    Disable(id, data);
                    //alert("Cool");
                }
            });
        }
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
</head>
<body>    
    <div id="deliveryControls">
        @using (Html.BeginForm("Order", "Product", FormMethod.Post)) { 
            <div class="mainBlockTitle" id="divTreeTitle" style="background: #EEEFFF;border-bottom:1px solid #504593;">
                <div onclick="ReturnToCart()" class="btnBackModelPage">
                    <span>Назад</span>
                </div>
                <div style="display:inline-block;">Оформление заказа</div>
            </div>
        @*<div style="text-align:center;color:white;padding-bottom:20px;"><h1>Оформлення замовлення</h1></div>*@
    <div class="row">
        <div class="col-md-5" style="background:#EEEFFF;min-height: 100vh;" id="divDeliveryHeight">
            <table style="width:100%;">
                <tr>
                    <td style="vertical-align:top;">
                        <div class="divDeliveryTitle" style="padding:0px 20px 20px 20px;">
                            <div style="text-align:center;color:#504593;"><h3>Ваши контактные данные</h3></div>
                            <input id="txtUserName" class="form-control" placeholder="* Имя" style="color: black;" asp-for="CustomerName" />
                            <span asp-validation-for="CustomerName"></span>
                            <input id="txtSurname" class="form-control" placeholder="* Фамилия" style="color: black;" asp-for="CustomerSurName" />
                            <span asp-validation-for="CustomerSurName"></span>
                            <input id="txtUserFather" class="form-control" placeholder="* Отчество" style="color: black;" asp-for="CustomerFatherName" />
                            <span asp-validation-for="CustomerFatherName"></span>
                            <input id="txtBuyerPhone" class="form-control" placeholder="* Телефон" style="color: black;" asp-for="CustomerPhoneNumber" />

                            <div style="text-align:center;color:#504593;padding-bottom:20px;"><h3>Выберите тип доставки</h3></div>
                            <div class="row">
                                <div class="col" style="padding:0px 10px 0px 0px;">
                                    <div tabindex="1" id="divBtnNova" class="deliveryBoxDesign selected" onclick="showDeliveryFields('#nova')">
                                        <div class="inline-blockNovaPoshta"><img src="~/images/Delivery/NovaPoshtaUkraine.png" style="width:38px;" /></div>
                                        <div class="inline-blockDeliveryText" style="font-size: 20px; text-align: center;">Новая Почта</div>
                                    </div>
                                </div>
                                <div class="col" style="padding: 0px 0px 0px 10px;">
                                    <div tabindex="2" id="divBtnCourier" class="deliveryBoxDesign" onclick="showDeliveryFields('#courier')">
                                        <div class="inline-blockCourier">
                                            <img src="~/images/Delivery/Courier.png" style="width:34px;" />
                                        </div>
                                        <div class="inline-blockDeliveryText" style="font-size: 20px; text-align: center;">
                                            Доставка курьером
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="nova">
                                @Html.DropDownListFor(model => model.SelectedArea, new SelectList(Model.Areas, "Description", "Description"), " - Выберите область - ", new { @id = "cbArea", @style = "color: black;width:100%;", @class = "form-control selectpicker", @onchange = "onAreaChanged()" })
                                <span asp-validation-for="SelectedArea" id="validateArea"></span>
                                @Html.DropDownListFor(model => model.SelectedCity, new SelectList(Model.Cities, "Description", "Description"), " - Выберите город - ", new { @id = "cbCity", @style = "color: black;width:100%;", @class = "form-control", @onchange = "onCityChanged()" })
                                <span asp-validation-for="SelectedArea" id="validateCity"></span>
                                @Html.DropDownListFor(model => model.SelectedDepartment, new SelectList(Model.Departments, "Description", "Description"), " - Выберите отделение - ", new { @id = "cbDepartment", @style = "color: black;width:100%;", @class = "form-control", @onchange = "onDepartmentChanged()" })
                                <span asp-validation-for="SelectedArea" id="validateDepartment"></span>
                                <input type="submit" class="btnOrder" value="Подтвердить заказ" />
                            </div>
                            <div id="courier" style="display:none;">
                                @Html.TextBoxFor(model => model.City, Model.City, new { @id = "txtCustomCity", @class = "form-control", @placeholder = "- Ваш город -", @style = "color: black;" })
                                @Html.ValidationMessageFor(model => model.City)
                                @Html.TextBoxFor(model => model.Address, Model.Address, new { @id = "txtCustomAddress", @class = "form-control", @maxlength = "12", @placeholder = "- Ваш адрес -", @style = "color: black;" })
                                @Html.ValidationMessageFor(model => model.Address)
                                <input type="submit" class="btnOrder" value="Подтвердить заказ" />
                            </div>
                        </div>
                        @*<div onclick="submit()" style="background:black;color:greenyellow;">SUBMIT</div>*@
                    </td>
                </tr>

            </table>
        </div>
        <div class="col-md-7" style="background:#504593;min-height: 100vh;box-shadow:0 20px 20px rgb(0 0 0 / 50%);">
            <div>
                @Html.Partial("_OrderItem", Model.CartProducts)
            </div>
        </div>        
    </div>
        }
    </div>
    <div id="divSuccessOrder" style="width: 100%; background:#504593; font-size: 45px; text-align: center; padding: 6% 10%; font-weight: bold; color: white; display:none;">
        <div>Ваш заказ успешно оформлен!</div>
        <div><img src="~/images/checkMark.png" style="margin:4%;max-width:20%;" /></div>
        <span>Спасибо Вам за заказ, ожидайте смс на свой мобильный номер со ссылкой на оплату счета в системе <span style="padding-left:30px;">LiqPay</span></span>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#txtBuyerPhone").mask("+38 (999) 999-99-99");
            $('.selectpicker').selectpicker({
                liveSearch: true,
                showSubtext: true
            });
        });
    </script>
</body>

</html>
