@model WebApplication.Models.ProductViewModel


<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@Model.Title</title>
    <script type="text/javascript">
        function goToCart(selectedProductId) {
            window.open('/Product/CartView/' + "?selectedProductId=" + selectedProductId);
        }
    </script>
</head>
<body style="color:white;">
    <div id="rootBlockDetails" style="display:block;padding: 30px 20px; color: white;  background: #504593;min-height:100vh;">
        <!--IMAGES BLOCK-->
        <div id="imageBlock" class="detailBlock" style="width:19%;text-align:center;background:white;">

            <img id="mainImageProduct" src=@Model.Images[0].Url style="max-width:100%;border-bottom:3px solid #e9eaff;" />

            <div style="text-align:left;">
                @foreach (var item in Model.Images)
                {
    <a href=@item.Url data-fancybox="gallery" class="noneDecoration">
        <img src=@item.Url class="smallPhotoes">
    </a>}
            </div>
        </div>
        <!--DESCRIPTION BLOCK-->
        <div id="infoBlock" class="detailBlock" style="width:60%;">
            <span class="titleBlock">@Model.Title</span>
            @foreach (var item in Model.Parameters)
            {
<div class="descriptionBlock">@item</div>            }
            <h3 class="descriptionBlock">Описание</h3>
            <span class="descriptionBlock" style="white-space:pre-line;">@Model.Description</span>
        </div>
        <!--PRICE BLOCK-->
        <div id="controlBlock" class="detailBlock" style="width: 20%; padding: 20px; text-align: left; border: 1px solid #c3c4d7; background: white; box-shadow: 0px 0px 10px wheat;">
            <div id="priceProduct">
                <div style="color: #ff5a00;font-weight:bold;">
                    <span style="font-size:34px;">@Model.Price</span>
                    <span style="font-size:18px;">грн</span>
                    <span id="priceDeliveryComment" style="color:#ff5a00;font-size:16px;font-weight:700;display:block;">* цена с учетом доставки</span>
                    <p id="priceComment" style="font-size:14px;font-weight:normal;">2-5 днів</p>
                </div>
                <div onclick="goToCart('@Model.Id')" style="padding:20px 0px;" class="divGoToCart">
                    <button class="btnBuyList" style="height:62px;">
                        <span class="btnBuyListSpan" style="font-size:33px;">Купить</span>
                    </button>
                </div>
                <div onclick="@Model.ReturnFunction">Back</div>
                <div id="continueBtn" style="width:100%;">
                    <div onclick="backToMainPage()">
                        <button class="btnBuyNew">
                            <span class="btnBuyListSpan" style="font-size:26px;">Продолжить покупки</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
