@model WebApplication.Models.ProductViewModel


<!DOCTYPE html>

<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--  google-translate -->
    <link rel="stylesheet" href="/css/google-translate.css">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="//translate.google.com/translate_a/element.js?cb=TranslateInit"></script>
    <script src="/js/google-translate.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4C6EKWGBJK"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-4C6EKWGBJK');
    </script>

    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MQ9L6KT');</script>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Купить @Model.Title" />
    <title>@Model.Title</title>
    <script type="text/javascript">
        function goToCart(selectedProductId, kioskId) {
            window.open('/Product/CartView/' + selectedProductId, "_self");
        }
        function backToProductList() {
            /**/
            window.location.href = '/' + '@ViewData["Params"]';
        /**/
        }
        function showTransDesc() {
            $('#descRus').empty();
            $('#descRus').html('<div style="text-align: center; padding-top: 10%; display: block;"><img src="/images/load.gif" class="loadGif" width="70px" /></div><div style="color:white;font-size:16px;text-align:center;padding-top:10px;">Загружаем описание. Это может занять до 10 секунд</div>');
            $.ajax({
                type: "GET",
                url: '@Url.Action("DetailsDesc", "Product")' + "?id=" + @Model.Id + "&isTransDesc=true",
                success: function (data) {
                    console.log('Translate');
                    //BreadCrumbsHistory(manufacture, model, mainCategoryId, mainCategoryName, null, null, null, null, null, kioskId);
                    $('#divInnerDetails').empty();
                    $('#divInnerDetails').html(data);
                    //window.history.replaceState(null, null, "/Home/Index/carManufactureName=" + manufacture + "/carModel=" + model + "/mainCategoryId=" + mainCategoryId + "/mainCategoryName=" + mainCategoryName + "/kioskId=" + kioskId);
                }
            });
        }
    </script>
</head>
<body style="color:white;">
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MQ9L6KT"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <div class="mainBlockTitle" style="background: #EEEFFF;">
        <div onclick="backToProductList()" style="color: white; padding: 0px 10px; font-weight: normal; border-radius: 10px; cursor:pointer; font-size: 23px; width:100px; text-transform: capitalize; background: #ff5a00;" class="cartBackBtn">
            <span>Назад</span>
        </div>
    </div>


    <div itemscope itemtype="http://schema.org/Product">
        <div id="rootBlockDetails" style="display:block;padding: 30px 20px; color: white;  background: #504593;min-height:100vh;">
            <!--IMAGES BLOCK-->
            <div id="imageBlock" class="detailBlock" style="width:28%;text-align:center;background:white;">

                <img itemprop="image" id="mainImageProduct" src=@Model.Images[0].Url style="max-width:100%;border-bottom:3px solid #e9eaff;" />

                <div style="text-align:left;">
                    @foreach (var item in Model.Images)
                    {
                        <a href=@item.Url data-fancybox="gallery" class="noneDecoration">
                            <img src=@item.Url class="smallPhotoes" itemprop="image">
                        </a>}
                </div>
            </div>
            <!--DESCRIPTION BLOCK-->
            <div id="infoBlock" class="detailBlock" style="width:50%;">
                <h1 class="titleBlock" itemprop="name">@Model.Title</h1>
                <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                    <meta itemprop="worstRating" content="1" />
                    <meta itemprop="ratingValue" content="4,9" />
                    <meta itemprop="bestRating" content="5" />
                    <meta itemprop="ratingCount" content="38914" />
                </div>
                <div class="descriptionBlock">
                    <img style=" display: inline-block; vertical-align: middle;width:25px;" src="~/images/star.png" /><span style=" display: inline-block; vertical-align: middle; padding-left: 10px;">Рейтинг продавця: @Model.SellerRating</span>
                </div>
                <div itemprop="description">
                    @foreach (var item in Model.Parameters)
                    {
                        <div class="descriptionBlock">@item</div>}

                    <div id="divInnerDetails">
                        <div style="display:inline-block;vertical-align:middle;">
                            <h3 class="descriptionBlock" onclick="showTransDesc()" style="cursor:pointer">Описание - для перевода нажмите на флажок</h3>
                        </div>
                        <div style="display:inline-block;vertical-align:middle;" class="language">
                            <img src="/images/rus.png" width="30" alt="ru" style="display:inline-block;vertical-align:middle;" data-google-lang="ru" class="language__img">
                        </div>
                        @Html.Partial("_InnerDetails", @Model)
                    </div>
                </div>
            </div>
            <!--PRICE BLOCK-->


            <div id="controlBlock" class="detailBlock" style="width: 20%; padding: 20px; text-align: left; border: 1px solid #c3c4d7; background: white; box-shadow: 0px 0px 10px wheat;">
                <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <div id="priceProduct">
                        <div style="color: #ff5a00;font-weight:bold;">
                            <span style="font-size:34px;" itemprop="price" content="@Model.Price">@Model.Price</span>
                            <span style="font-size:18px;" itemprop="priceCurrency" content="UAH"> UAH</span>
                            <span itemprop="availability" href="https://schema.org/InStock" style="display: block; font-weight: normal;font-size:14px;">Доступное количество: @Model.AvailableQuantity</span>
                            <span id="priceDeliveryComment" style="color:#6c7096;font-size:14px;display:block;font-weight:normal;">Проверенный продавец</span>
                            <p id="priceComment" style="color:#6c7096;font-size:14px;font-weight:normal;margin-bottom:0px;">Быстрая доставка</p>
                            <p id="priceComment" style="color:#6c7096;font-size:14px;font-weight:normal;">Гарантия 21 день</p>
                        </div>
                        <div onclick="goToCart('@Model.Id', '@Model.kioskId')" style="padding:20px 0px 0px 0px;" class="divGoToCart">
                            <button class="btnBuyList">
                                <span class="btnBuyListSpan" style="font-size:23px;">Купить</span>
                            </button>
                        </div>
                        <div onclick="@Model.ReturnFunction">Back</div>
                        <div id="continueBtn" style="width:100%;">
                            <div onclick="backToMainPage()">
                                <button class="btnBuyNew">
                                    <span class="btnBuyListSpan" style="font-size:23px;">Продолжить покупки</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <table class="garantedCardsTable">
                        <tr>
                            <td style="background:white;padding: 10px !important; margin: 10px 10px 10px 0px !important; width: 100%;">
                                <button id='open' class="simpleBtn" data-toggle="modal" data-target="#showmodal_PopUp" data-menuitem="GarantedPayItem">
                                    <div class="menuItemPic" style="max-width: 100%; width: 100%; display: block;text-align:center;"><img src="~/images/OrderAdvert/GarantedPay.png" style="max-height:100px;" /></div><div class="inline-block" style="color:#080c31;text-align:center;padding-left:10px;"><div>Безопасная покупка</div></div>
                                </button>
                            </td>
                            <td style="background:white;padding: 10px !important; margin: 10px 10px 10px 0px !important; width: 100%;">
                                <button id='open' class="simpleBtn" data-toggle="modal" data-target="#showmodal_PopUp" data-menuitem="dostavka100Item">
                                    <div class="menuItemPic" style="max-width: 100%; width: 100%; display: block;text-align:center;"><img src="~/images/OrderAdvert/dostavka100.png" style="max-height:100px;" /></div><div class="inline-block" style="color:#080c31;text-align:center;padding-left:10px;">Бесплатная доставка до 30кг</div>
                                </button>
                            </td>
                            <td style="background:white;padding: 10px !important; margin: 10px 10px 10px 0px !important; width: 100%;">
                                <button id='open' class="simpleBtn" data-toggle="modal" data-target="#showmodal_PopUp" data-menuitem="User100Item">
                                    <div class="menuItemPic" style="max-width: 100%; width: 100%; display: block;text-align:center;"><img src="~/images/OrderAdvert/User100.png" style="max-height:100px;" /></div><div class="inline-block" style="color:#080c31;text-align:center;padding-left:10px;"><div>Защита потребителя</div></div>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
