@model WebApplication.Models.PaymentViewModel
<html>
<head>
    <script>
        function callMethodPay(nameMethod) {
            $(nameMethod).submit();
        }
    </script>
</head>
<body>
    <div class="container-fluid" id="divMainOrderBlock">
        <div class="row">
            <div class="mainBlockTitleOrder" id="divTreeTitle" style="background: #EEEFFF;border-bottom:1px solid #504593;">
                <div onclick="ReturnToDelivery()" class="btnBackModelPage">
                    <span class="notranslate">Назад</span>
                </div>
                <div style="display:inline-block;" class="notranslate">Выберите способ оплаты</div>
            </div>
            <div class="col-4" style="background:#504593;min-height: 100vh;" id="divLeftOrderColumn">
                <div class="row" id="divCssGarantedPay">
                    <div class="col-4" style="padding-top:30px;" id="divGarantedPadding">
                        <img src="~/images/OrderAdvert/GarantedPay.png" style="width:inherit;" class="picGarantedPay" />
                    </div>
                    <div class="col-8" style="color:white;">
                        <div style="font-size: 34px;" class="garantedPayText">
                            <span class="notranslate">Гарантированный платеж</span>
                        </div>
                        <div style="font-size: 34px;" class="garantedPayText">
                            <span class="notranslate">Безопасная покупка</span>
                        </div>
                    </div>
                </div>
                <div class="row" id="divCssDelivery">
                    <div class="col-4" style="padding-top:30px;" id="divGarantedPadding">
                        <img src="~/images/OrderAdvert/dostavka100.png" style="width:inherit;" class="picGarantedPay" />
                    </div>
                    <div class="col" style="color:white;">
                        <span style="font-size:34px;" class="garantedPayText"><span class="notranslate">Бесплатная доставка до 30кг</span></span>
                    </div>
                </div>
                <div class="row" id="divCssUserDefend">
                    <div class="col-4" style="padding-top:30px;" id="divGarantedPadding">
                        <img src="~/images/OrderAdvert/User100.png" style="width:80%;" class="picUserDefend" />
                    </div>
                    <div class="col" style="color:white;">
                        <div style="font-size:34px;" class="garantedPayText">
                            <span class="notranslate">
                                Защита потребителя
                                Гарантия на товар</span>
</div>
                    </div>
                </div>
            </div>
            <div class="col" style="color:#504593;background:#EEEFFF;min-height: 100vh;" id="divRightOrderColumn">
                <div class="container-fluid" style="padding-top:50px;" id="divPaymentContainer">
                    <div class="row">
                        <div class="col-4" style="text-align:center;cursor:pointer;" onclick="callMethodPay('#formCard')" id="divBlock1">
                            <div class="paymentMethod">
                                <img src="~/images/Payment/CreditCardBig.png" class="imgPayment" />
                                <form id="formCard" method="POST" action="https://www.liqpay.ua/api/3/checkout" accept-charset="utf-8" class="notranslate">
                                    <input type="hidden" name="data" value="@Model.cardData.Data" />
                                    <input type="hidden" name="signature" value="@Model.cardData.Signature" />
                                    <input type="submit" value="Visa / Mastercard" style="background:white;" class="paymentTextDesign" />
                                </form>
                            </div>
                        </div>
                        <div class="col-4" style="text-align:center;cursor:pointer;" onclick="callMethodPay('#formCardPrivat')" id="divBlock2">
                            <div class="paymentMethod">
                                <img src="~/images/Payment/Privat24Big.png" class="imgPayment" />
                                <form id="formCardPrivat" method="POST" action="https://www.liqpay.ua/api/3/checkout" accept-charset="utf-8" class="notranslate">
                                    <input type="hidden" name="data" value="@Model.Privat24Data.Data" />
                                    <input type="hidden" name="signature" value="@Model.Privat24Data.Signature" />
                                    <input type="submit" value="На карту ПриватБанка" style="background:white;" class="paymentTextDesign" />
                                </form>
                            </div>
                        </div>
                        <div class="col-4" style="text-align:center;cursor:pointer;" onclick="callMethodPay('#formTerminalPrivat')" id="divBlock3">
                            <div class="paymentMethod">
                                <img src="~/images/Payment/CashInTerminalBig.png" class="imgPayment" />
                                <form id="formTerminalPrivat" method="POST" action="https://www.liqpay.ua/api/3/checkout" accept-charset="utf-8" class="notranslate">
                                    <input type="hidden" name="data" value="@Model.cashData.Data" />
                                    <input type="hidden" name="signature" value="@Model.cashData.Signature" />
                                    <input type="submit" value="Оплата в терминале ПриватБанка" style="background:white;" class="paymentTextDesign" />
                                </form>
                            </div>
                        </div>
                        <div class="col-4" style="text-align:center;cursor:pointer;" onclick="callMethodPay('#formQR')" id="divBlock4">
                            <div class="paymentMethod">
                                <img src="~/images/Payment/qrCode1.jpg" class="imgPayment" />
                                <form id="formQR" method="POST" action="https://www.liqpay.ua/api/3/checkout" accept-charset="utf-8" class="notranslate">
                                    <input type="hidden" name="data" value="@Model.QRData.Data" />
                                    <input type="hidden" name="signature" value="@Model.QRData.Signature" />
                                    <input type="submit" value="Оплата через QR код" style="background:white;" class="paymentTextDesign" />
                                </form>
                            </div>
                        </div>
                        <div class="col-4" style="text-align:center;cursor:pointer;" onclick="callMethodPay('#formLIQPAY')" id="divBlock5">
                            <div class="paymentMethod">
                                <img src="~/images/Payment/liqpayNew.png" class="imgPayment" />
                                <form id="formLIQPAY" method="POST" action="https://www.liqpay.ua/api/3/checkout" accept-charset="utf-8" class="notranslate">
                                    <input type="hidden" name="data" value="@Model.liqpayData.Data" />
                                    <input type="hidden" name="signature" value="@Model.liqpayData.Signature" />
                                    <input type="submit" value="Оплата через LIQPAY" style="background:white;" class="paymentTextDesign" />
                                </form>
                            </div>
                        </div>
                        <div class="col-4" style="text-align:center;cursor:pointer;" onclick="callMethodPay('#formGooglePay')" id="divBlock6">
                            <div class="paymentMethod">
                                <img src="~/images/Payment/GPAY.jpg" class="imgPayment" />
                                <form id="formGooglePay" method="POST" action="https://www.liqpay.ua/api/3/checkout" accept-charset="utf-8" class="notranslate">
                                    <input type="hidden" name="data" value="@Model.GPayData.Data" />
                                    <input type="hidden" name="signature" value="@Model.GPayData.Signature" />
                                    <input type="submit" value="Оплата через Google Pay" style="background:white;" class="paymentTextDesign" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>