@model WebApplication.Models.PaymentViewModel
<html>
<head>
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NWTLZ5F');</script>
    <!-- End Google Tag Manager -->

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NWTLZ5F"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="container-fluid" id="divMainOrderBlock">
        <div class="row">
            <div class="mainBlockTitleOrder" id="divTreeTitle" style="background: #EEEFFF;border-bottom:1px solid #504593;">
                <div onclick="ReturnToDelivery()" class="btnBackModelPage">
                    <span>Назад</span>
                </div>
                <div style="display:inline-block;">Выберите способ оплаты</div>
            </div>
            <div class="col-4" style="background:#504593;min-height: 100vh;" id="divLeftOrderColumn">
                <div class="row" id="divCssGarantedPay">
                    <div class="col-4" style="padding-top:30px;" id="divGarantedPadding">
                        <img src="~/images/OrderAdvert/GarantedPay.png" style="width:inherit;" class="picGarantedPay" />
                    </div>
                    <div class="col-8" style="color:white;">
                        <div style="font-size: 34px;" class="garantedPayText">
                            Гарантированный платеж
                        </div>
                        <div style="font-size: 34px;" class="garantedPayText">
                            Безопасная покупка
                        </div>
                    </div>
                </div>
                <div class="row" id="divCssDelivery">
                    <div class="col-4" style="padding-top:30px;" id="divGarantedPadding">
                        <img src="~/images/OrderAdvert/dostavka100.png" style="width:inherit;" class="picGarantedPay" />
                    </div>
                    <div class="col" style="color:white;">
                        <span style="font-size:34px;" class="garantedPayText">Бесплатная доставка до 30кг</span>
                    </div>
                </div>
                <div class="row" id="divCssUserDefend">
                    <div class="col-4" style="padding-top:30px;" id="divGarantedPadding">
                        <img src="~/images/OrderAdvert/User100.png" style="width:80%;" class="picUserDefend" />
                    </div>
                    <div class="col" style="color:white;">
                        <div style="font-size:34px;" class="garantedPayText">
                            Защита потребителя
                            Гарантия на товар
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" style="color:#504593;background:#EEEFFF;min-height: 100vh;" id="divRightOrderColumn">
                <div class="container-fluid" style="padding-top:50px;" id="divPaymentContainer">
                    <div class="row">
                        <div class="col-4" style="text-align:center;" onclick="callMethodPay('#formCard')" id="divBlock1">
                            <div class="paymentMethod">
                                <img src="~/images/Payment/CreditCardBig.png" class="imgPayment" />
                                <form id="formCard" method="POST" action="https://www.liqpay.ua/api/3/checkout" accept-charset="utf-8">
                                    <input type="hidden" name="data" value="@Model.cardData.Data" />
                                    <input type="hidden" name="signature" value="@Model.cardData.Signature" />
                                    <input type="submit" value="Visa / Mastercard" style="background:white;" class="paymentTextDesign" />
                                </form>
                            </div>
                        </div>
                        <div class="col-4" style="text-align:center;" onclick="callMethodPay('#formCardPrivat')" id="divBlock2">
                            <div class="paymentMethod">
                                <img src="~/images/Payment/Privat24Big.png" class="imgPayment" />
                                <form id="formCardPrivat" method="POST" action="https://www.liqpay.ua/api/3/checkout" accept-charset="utf-8">
                                    <input type="hidden" name="data" value="@Model.Privat24Data.Data" />
                                    <input type="hidden" name="signature" value="@Model.Privat24Data.Signature" />
                                    <input type="submit" value="На карту ПриватБанка" style="background:white;" class="paymentTextDesign" />
                                </form>
                            </div>
                        </div>
                        <div class="col-4" style="text-align:center;" onclick="callMethodPay('#formTerminalPrivat')" id="divBlock3">
                            <div class="paymentMethod">
                                <img src="~/images/Payment/CashInTerminalBig.png" class="imgPayment" />
                                <form id="formTerminalPrivat" method="POST" action="https://www.liqpay.ua/api/3/checkout" accept-charset="utf-8">
                                    <input type="hidden" name="data" value="@Model.cashData.Data" />
                                    <input type="hidden" name="signature" value="@Model.cashData.Signature" />
                                    <input type="submit" value="Оплата в терминале ПриватБанка" style="background:white;" class="paymentTextDesign" />
                                </form>
                            </div>
                        </div>
                        <div class="col-4" style="text-align:center;" onclick="callMethodPay('#formQR')" id="divBlock4">
                            <div class="paymentMethod">
                                <img src="~/images/Payment/qrCode1.jpg" class="imgPayment" />
                                <form id="formQR" method="POST" action="https://www.liqpay.ua/api/3/checkout" accept-charset="utf-8">
                                    <input type="hidden" name="data" value="@Model.QRData.Data" />
                                    <input type="hidden" name="signature" value="@Model.QRData.Signature" />
                                    <input type="submit" value="Оплата через QR код" style="background:white;" class="paymentTextDesign" />
                                </form>
                            </div>
                        </div>
                        <div class="col-4" style="text-align:center;" onclick="callMethodPay('#formLIQPAY')" id="divBlock5">
                            <div class="paymentMethod">
                                <img src="~/images/Payment/liqpayNew.png" class="imgPayment" />
                                <form id="formLIQPAY" method="POST" action="https://www.liqpay.ua/api/3/checkout" accept-charset="utf-8">
                                    <input type="hidden" name="data" value="@Model.liqpayData.Data" />
                                    <input type="hidden" name="signature" value="@Model.liqpayData.Signature" />
                                    <input type="submit" value="Оплата через LIQPAY" style="background:white;" class="paymentTextDesign" />
                                </form>
                            </div>
                        </div>
                        <div class="col-4" style="text-align:center;" onclick="callMethodPay('#formGooglePay')" id="divBlock6">
                            <div class="paymentMethod">
                                <img src="~/images/Payment/GPAY.jpg" class="imgPayment" />
                                <form id="formGooglePay" method="POST" action="https://www.liqpay.ua/api/3/checkout" accept-charset="utf-8">
                                    <input type="hidden" name="data" value="@Model.GPayData.Data" />
                                    <input type="hidden" name="signature" value="@Model.GPayData.Signature" />
                                    <input type="submit" value="Оплата через Google Pay" style="background:white;" class="paymentTextDesign" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>